    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Agendamentos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item active">Agendamentos</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header row pb-1 border-0">
                  
                  <div class="card-title col-md-6">
                    <h5>Agendamentos</h5> 
                  </div>
  
                  <form id="formListOrdersHorary" class="formListOrdersHorary col-md-6 table-responsive input-group-sm d-flex flex-row">

                    <select class="custom-select inputsListOrders mr-2" name="selectStoreOrders" id="selectStoreOrders" style="width: 100px;">
                      <option value="0">Todas</option>
                      {if="isset($stores) && $stores != 0"}
                      {loop="$stores"}
                      <option value="{$value.idStore}">Loja {$value.store}</option>
                      {/loop}
                      {/if}
                    </select>

                    <select class="custom-select inputsListOrders mr-2" name="selectStatusOrders" id="selectStatusOrders" style="width: 250px;">
                      <option value="0">Status</option>
                      {if="isset($ordersStatus) && $ordersStatus != 0"}
                      {loop="$ordersStatus"}
                      {if="$value.typeOrder != 3"}<option value="{$value.idOrderStatus}">{$value.descStatus}</option>{/if}
                      {/loop}
                      {/if}
                    </select>

                    <select class="custom-select inputsListOrders mr-2" name="selectPaidOrders" id="selectPaidOrders" style="width: 90px;">
                      <option value="0">Não</option>
                      <option value="1">Pago</option>
                    </select>

                    <input type="date" id="inputStoreOrdersDateIni" name="inputStoreOrdersDateIni" class="form-control inputsListOrders mr-2" value='{function="date("Y-m-01", strtotime($param.ini))"}'>
                    <input type="date" id="inputStoreOrdersDateFin" name="inputStoreOrdersDateFin" class="form-control inputsListOrders" value='{function="date("Y-m-d", strtotime($param.fin))"}'>

                    <script>
                      document.getElementById("selectStoreOrders").value = "{$param.store}";
                      document.getElementById("selectStatusOrders").value = "{$param.status}";
                      document.getElementById("selectPaidOrders").value = "{$param.paid}";
                    </script>

                  </form>
                  
                </div>
                <!-- /.card-header -->
                <div id="tbListOrdersHorary" class="card-body table-responsive p-0" style="max-height: 450px;">
                  {if="isset($orders) && $orders != 0"}
                  <table class="table table-head-fixed table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>CPF</th>
                        <th>Frete</th>
                        <th>Status</th>
                        <th>Pago</th>
                        <th>Agendamento</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$orders"}
                      <tr style="cursor: pointer;" onclick="window.location.assign('/admin/orders/{$value.idOrder}/')">
                        <td>{$key + 1}</td>
                        <td>{$value.nameUser} {$value.surnameUser}</td>
                        <td>{function="maskCpf($value.infoUser.cpfUser)"}</td>
                        <td>{$value.freight}</td>
                        <td>{$value.descStatus}</td>
                        <td>
                          {if="$value.paid == 1"}
                          Sim
                          {else}
                          Não
                          {/if}
                        </td>
                        <td>{function="date("H:i", strtotime($value.timeInitial))"} às {function="date("H:i", strtotime($value.timeFinal))"} - {function="date("d/m/Y", strtotime($value.dateHorary))"}</td>
                        <td>R$ {function="maskPrice($value.total)"}</td>
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                  {else}
                  <p class="h6 text-center border-top py-3">
                    <b><i>NENHUM DADO ENCONTRADO</i></b>
                  </p>
                  {/if}
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        
        