    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Loja 01 - Informações</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/stores/">Lojas</a></li>
                <li class="breadcrumb-item active">Loja {$id}</li>
                <li class="breadcrumb-item active">Informações</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Sobre a Empresa</h3>
                </div>
                
                <!-- /.card-header -->
                <div class="card-body">
                  
                  <form class="formInfoDesc" action="/admin/stores/{$id}/info/store/" data-store="{$id}">
                    
                    <div id="alertsInfoDesc">
            
                      {if="$errorRegister != ''"}
                      <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                        
                        <span>{$errorRegister}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
          
                      </div>
                      {/if}
          
                      {if="$successMsg != ''"}	
          
                      <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                          
                        <span>{$successMsg}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
          
                      </div>
          
                      {/if}
                    
                    </div>

                    <div class="row">

                      <div class="form-group col-sm-12">
                        <label for="inputName">Descrição</label>
                        <textarea id="textInfo" name="textInfo" class="form-control" rows="5" placeholder="Fale sobre sua empresa!">{$storeInfo.0.textInfoStore}</textarea>
                      </div>
  
                      <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                      </div>
  
                    </div>
                    <!-- /.row -->

                  </form>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Perguntas Frequentes &nbsp;</h3> 
                  <a href="#" class="text-success py-1" data-toggle="modal" data-target="#modalInfoHelp" data-modal-title="Adicionar uma Pergunta" data-title="" data-descripton="" data-type="1"> <i class="far fa-plus-square"></i> Adicionar</a>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div id="alertsDeleteInfoHelp">
            
                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                      
                        <span>{$errorRegister}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
                    {/if}
        
                    {if="$successMsg != ''"}	
        
                    <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                        
                        <span>{$successMsg}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
        
                    {/if}
                  
                  </div>

                  <div class="row">

                    <div class="col-sm-12" id="dataInfoHelp">
						
                      {if="$storeHelp != 0"}
                      {loop="$storeHelp"}

                      <div class="card card-default collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">{$value.titleHelpStore}</h3>
        
                          <div class="card-tools">
                            
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                            
                            <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modalInfoHelp" data-modal-title="Alterar uma Pergunta" data-title="{$value.titleHelpStore}" data-descripton="{$value.textHelpStore}" data-type="2" data-id="{$value.idStoreHelp}"><i class="fas fa-pen"></i></button>
                            
                            <button type="button" class="btn btn-tool btnDeleteInfoHelp" data-card-widget="remove" data-type="3" data-id="{$value.idStoreHelp}" data-store="{$id}"><i class="far fa-trash-alt"></i></button>

                          </div>
                        </div>

                        <div class="card-body" style="display: none;">
                          <p class="my-0">{$value.textHelpStore}</p>
                        </div>

                      </div>
                      {/loop}
                      {else}
                      <p class="h6">
                        <b><i>Sem Dados</i></b>
                      </p>
                      {/if}
                      
                    </div>

                  </div>
                  <!-- /.row -->

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Promoções &nbsp;</h3> 
                  <a href="#" class="text-success py-1" data-toggle="modal" data-target="#modalInfoPromo" data-type="1" data-id="0" data-id-type="0" data-modal-title="Adicionar uma Promoção" data-title="" data-description="" data-code="" data-value="" data-value-type="1"> <i class="far fa-plus-square"></i> Adicionar</a>
                </div>

                <!-- /.card-header -->
                <div class="card-body">

                  <div id="alertsDeleteInfoPromo">
            
                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                      
                        <span>{$errorRegister}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
                    {/if}
        
                    {if="$successMsg != ''"}	
        
                    <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                        
                        <span>{$successMsg}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
        
                    {/if}
                  
                  </div>
                  
                  <form id="formInfoEmailPromo" class="formInfoEmailPromo row" data-store="{$id}">

                    <div class="col-sm-12" id="dataInfoPromo">
						
                      {if="$storePromo != 0"}
                      {loop="$storePromo"}
                      <div class="card card-default collapsed-card">
                        
                        <div class="card-header">
                          <h3 class="card-title">{$value.title}</h3>

                          <div class="card-tools">

                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                            
                            <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modalInfoPromo" data-type="2" data-id="{$value.idPromo}" data-id-type="{$value.idPromoType}" data-modal-title="Alterar uma Promoção" data-title="{$value.title}" data-description="{$value.description}" data-code="{$value.code}" data-value='{$value.value}' data-value-type="{$value.valueType}"><i class="fas fa-pen"></i></button>
                            
                            <button type="button" class="btn btn-tool btnDeleteInfoPromo" data-card-widget="remove" data-type="3" data-id="{$value.idPromo}" data-store="{$id}"><i class="far fa-trash-alt"></i></button>

                            <div class="btn btn-tool px-0 mx-0 d-none">
                              <div class="icheck-secondary d-inline">
                                <input type="checkbox" id="check-{$value.idPromo}" name="check-{$value.idPromo}">
                                <label for="check-{$value.idPromo}"></label>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="card-body" style="display: none;">
                          <p class="my-0">{$value.description}</p>
                        </div>

                      </div>
                      {/loop}
                      {else}
                      <p class="h6">
                        <b><i>Sem Dados</i></b>
                      </p>
                      {/if}
                      
                    </div>

                    <div class="col-12 text-right">

                      <p id="alertTextInfoPromo" class="text-success font-weight-bold d-none px-2">Alertas Enviados com Successo!</p>

                      <div id="overlayInfoPromo" class="btn d-none">
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <i class="fas fa-1x fa-sync fa-spin"></i>
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-primary btn-sm d-none"><i class="far fa-paper-plane"></i> Enviar Alertas</button>
                    </div>

                  </form>
                  <!-- /.row -->

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Parceiros &nbsp;</h3> 
                  <a href="#" class="text-success py-1" data-toggle="modal" data-target="#modalInfoPartners" data-type="1" data-id="0" data-modal-title="Adicionar um Parceiro" data-src="" data-archive="NEW" data-name="" data-link=""> <i class="far fa-plus-square"></i> Adicionar</a>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div id="alertsDeleteInfoPartner">
            
                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                      
                        <span>{$errorRegister}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
                    {/if}
        
                    {if="$successMsg != ''"}	
        
                    <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                        
                        <span>{$successMsg}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
        
                    {/if}
                  
                  </div>

                  <div class="row">
                    <!-- /.card-header -->
                    <div id="cardInfoPartner" class="card-body table-responsive p-0 col-sm-12">
                      
                      {if="$storePartner != 0"}
                      <table class="table table-head-fixed table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Link Site</th>
                            <th>Opções</th>
                          </tr>
                        </thead>
                        <tbody>

                          {loop="$storePartner"}
                          <tr id="trInfoPartner{$value.idPartner}">
                            <td>{$key}</td>
                            <td>{$value.name}</td>
                            <td>{$value.link}</td>
                            <td>

                              <button type="button" class="btn btn-tool px-1" data-toggle="modal" data-target="#modalInfoPartners" data-type="2" data-id="{$value.idPartner}" data-modal-title="Alterar um Parceiro" data-src="{$value.src}" data-archive="{$value.file}" data-name="{$value.name}" data-link="{$value.link}"><i class="fas fa-pen"></i></button>
                            
                              <button type="button" class="btnDeleteInfoPartner btn btn-tool px-1" data-type="3" data-id="{$value.idPartner}" data-archive="{$value.file}" data-store="{$id}"><i class="far fa-trash-alt"></i></button>

                            </td>
                          </tr>
                          {/loop}

                        </tbody>
                      </table>
                      {else}
                      <p class="h6">
                        <b><i>Sem Dados</i></b>
                      </p>
                      {/if}

                    </div>
                    <!-- /.card-body -->

                  </div>
                  <!-- /.row -->

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Redes Sociais &nbsp;</h3> 
                  <a href="#" class="text-success py-1" data-toggle="modal" data-target="#modalInfoSocial" data-type="1" data-id="0" data-modal-title="Adicionar uma Rede Social" data-id-type="0" data-link=""> <i class="far fa-plus-square"></i> Adicionar</a>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div id="alertsDeleteInfoSocial">
            
                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                      
                        <span>{$errorRegister}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
                    {/if}
        
                    {if="$successMsg != ''"}	
        
                    <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                        
                        <span>{$successMsg}</span>
                        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
        
                    </div>
        
                    {/if}
                  
                  </div>

                  <div id="dataInfoSocial" class="row">
                    
                    {if="$storeSocial != 0"}
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0 col-sm-12">
                      <table class="table table-head-fixed table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Link</th>
                            <th>Icone</th>
                            <th>Opções</th>
                          </tr>
                        </thead>
                        <tbody>
                          {loop="$storeSocial.0"}
                          <tr id="trInfoSocial{$value.idSocial}">
                            <td>{$key + 1}</td>
                            <td>{$value.name}</td>
                            <td>{$value.link}</td>
                            <td><i class="{$value.icon}"></i></td>
                            <td>
                             
                              <button type="button" class="btn btn-tool px-1" data-toggle="modal" data-target="#modalInfoSocial" data-type="2" data-id="{$value.idSocial}" data-modal-title="Alterar uma Rede Social" data-id-type="{$value.idSocialType}" data-link="{$value.link}"><i class="fas fa-pen"></i></button>
                            
                              <button type="button" class="btnDeleteInfoSocial btn btn-tool px-1" data-type="3" data-id="{$value.idSocial}" data-store="{$id}"><i class="far fa-trash-alt"></i></button>

                            </td>
                          </tr>
                          {/loop}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                    {else}
                    <p class="h6">
                      <b><i>Sem Dados</i></b>
                    </p>
                    {/if}

                  </div>
                  <!-- /.row -->

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        
        