    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Lojas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item active">Lojas</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Todas as Lojas</h3>
  
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="max-height: 450px;">
                  <table class="table table-head-fixed table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody>
                      {loop="$stores"}
                      <tr>
                        <td>
                          {$value.idStore}
                        </td>
                        <td>
                          {$value.store}
                        </td>
                        <td>
                          {$value.nameStore}
                        </td>
                        <td>
                          <span class="tag tag-success">
                            {if="$value.statusStore == 1"}Ativa{else}Inativa{/if}
                          </span>
                        </td>
                        <td class="h5">
                            <a class="mx-1" href="/admin/stores/{$value.store}/register/"><i class="far fa-edit"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/info/"><i class="fas fa-cog"></i></a>
                            <a class="mx-1" href="#" data-toggle="modal" data-target="#modalCartConfig" data-id='{if="isset($value.cartConfig.idCartConfig)"}{$value.cartConfig.idCartConfig}{else}0{/if}' data-store="{$value.store}" data-allow='{if="isset($value.cartConfig.allowMin)"}{$value.cartConfig.allowMin}{else}0{/if}' data-val-min='{if="isset($value.cartConfig.valueMin)"}{$value.cartConfig.valueMin}{else}0{/if}'><i class="fas fa-shopping-cart"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/payment/"><i class="fas fa-dollar-sign"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/layout/"><i class="far fa-file-alt"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/freight/"><i class="fas fa-truck"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/horary/"><i class="far fa-clock"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/images/"><i class="far fa-image"></i></a>
                            <a class="mx-1" href="/admin/stores/{$value.store}/products/"><i class="fas fa-th-list"></i></a>
                        </td>
                      </tr>
                      {/loop}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        
        