    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Loja {$id} - Imagens</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/stores/">Lojas</a></li>
                <li class="breadcrumb-item active">Loja {$id}</li>
                <li class="breadcrumb-item active">Imagens</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            
          <!-- /.row -->
          <div id="dataImages" class="row">
            
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Imagens do Site &nbsp;</h3>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  
                  {if="isset($storeImgs) && $storeImgs != 0"}
                  <div class="row align-items-center justify-content-center">

                    {if="isset($storeImgs.0)"}
                    <div id="colImgsSite0" class="col-sm-4 text-center my-4">
                      
                      <img src="{$storeImgs.0.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Logo Global">
                      <p class="text-center profile-username"> 
                        Logo Desktop - Global 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite0" data-src="{$storeImgs.0.src}" data-origin="{$storeImgs.0.origin}" data-file="{$storeImgs.0.file}" data-name="Logo Desktop - Global"><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.6)"}
                    <div id="colImgsSite1" class="col-sm-2 text-center my-4">
                      
                      <img src="{$storeImgs.6.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;max-height: 120px;" alt="Logo Mobile - Global">
                      <p class="text-center profile-username"> 
                        Logo Mobile - Global
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite1" data-src="{$storeImgs.6.src}" data-origin="{$storeImgs.6.origin}" data-file="{$storeImgs.6.file}" data-name="Logo Mobile - Global"><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.1)"}
                    <div id="colImgsSite2" class="col-sm-5 text-center my-4">
                      
                      <img src="{$storeImgs.1.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Banner Global">
                      <p class="text-center profile-username"> 
                        Banner Global 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite2" data-src="{$storeImgs.1.src}" data-origin="{$storeImgs.1.origin}" data-file="{$storeImgs.1.file}" data-name="Banner Global"><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.2)"}
                    <div id="colImgsSite3" class="col-sm-4 text-center my-4">
                      
                      <img src="{$storeImgs.2.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Logo Desktop - Loja {$id}">
                      <p class="text-center profile-username"> 
                        Logo Desktop - Loja {$id} 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite3" data-src="{$storeImgs.2.src}" data-origin="{$storeImgs.2.origin}" data-file="{$storeImgs.2.file}" data-name="Logo Desktop - Loja {$id} "><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.5)"}
                    <div id="colImgsSite4" class="col-sm-2 text-center my-4">
                      
                      <img src="{$storeImgs.5.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;max-height: 120px;" alt="Logo Mobile - Loja {$id}">
                      <p class="text-center profile-username"> 
                        Logo Mobile - Loja {$id} 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite4" data-src="{$storeImgs.5.src}" data-origin="{$storeImgs.5.origin}" data-file="{$storeImgs.5.file}" data-name="Logo Mobile - Loja {$id} "><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.4)"}
                    <div id="colImgsSite5" class="col-sm-3 text-center my-4">
                      
                      <img src="{$storeImgs.4.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Loja {$id}">
                      <p class="text-center profile-username"> 
                        Loja {$id} 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite5" data-src="{$storeImgs.4.src}" data-origin="{$storeImgs.4.origin}" data-file="{$storeImgs.4.file}" data-name="Loja {$id}"><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                    {if="isset($storeImgs.3)"}
                    <div id="colImgsSite6" class="col-sm-2 text-center my-4">
                      
                      <img src="{$storeImgs.3.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Login">
                      <p class="text-center profile-username"> 
                        Login 
                        <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar Imagem do Site" data-type="2" data-store="{$id}" data-id="colImgsSite6" data-src="{$storeImgs.3.src}" data-origin="{$storeImgs.3.origin}" data-file="{$storeImgs.3.file}" data-name="Login"><i class="fas fa-pen"></i></button> 
                      </p>
                      
                    </div>
                    {/if}

                  </div>
                  <!-- /.row -->
                  {else}
                  <p class="h6">
                    <b><i>Sem Dados</i></b>
                  </p>
                  {/if}

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

            <div class="col-12">
              <div id="dataImagesPageInit" class="card">
                <div class="card-header">
                  <h3 class="card-title">Imagens da Página Inicial &nbsp;</h3> 
                  {if="isset($storeImgs.promotions) && is_array($storeImgs.promotions) && $storeImgs.ctPromo < 10"}
                  <a href="#" class="text-success py-1" data-toggle="modal" data-target="#modalImages" data-modal-title="Inserir uma Imagem para Página Inicial" data-type="1" data-id="0" data-src="/resources/imgs/logos/default.png" data-origin="{$storeImgs.src.store}{$storeImgs.promotions.1.file}{$storeImgs.ctPromo}.png" data-file="" data-name="Img #{$storeImgs.ctPromo}" data-store="{$id}"> <i class="far fa-plus-square"></i> Adicionar</a>
                  {/if}
                </div>

                <!-- /.card-header -->
                <div class="card-body">

                  <div id="alertsDeleteImages">
            
                    {if="$errorRegister != ''"}
                    <div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
                      
                      <span>{$errorRegister}</span>
                      
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
      
                    </div>
                    {/if}
        
                    {if="$successMsg != ''"}	
        
                    <div class="alert alert-success alert-dismissible fade show text-left" role="alert">
                        
                      <span>{$successMsg}</span>
                      
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
        
                    </div>
        
                    {/if}
                  </div>
                  
                  <div>

                    {if="isset($storeImgs) && isset($storeImgs.promotions) && $storeImgs != 0"}
                    <div class="row align-items-center">

                      {loop="$storeImgs.promotions"}
                      {if="$value.src != ''"}
                      <div id="colImgsPromo{$key}" class="col-sm-4">
                        
                        <img src="{$value.src}" class="img-fluid" style="border:solid 2px #b3b3b3 ;" alt="Imagem Promoção #{$key}">
                        <p class="text-center profile-username"> 
                          Img #{$key} 

                          <button type="button" class="btn btn-tool px-0" data-toggle="modal" data-target="#modalImages" data-modal-title="Alterar uma Imagem da Página Inicial" data-type="2" data-id="colImgsPromo{$key}" data-src="{$value.src}" data-origin="{$value.origin}" data-file="{$value.file}" data-name="Img #{$key}"><i class="fas fa-pen"></i></button> 
                          <a class="text-secondary cursor-pointer px-0 btnDeleteImages h6" data-type="3" data-id="{$key}" data-origin="{$value.origin}" data-store="{$id}"><i class="far fa-trash-alt"></i></a>
                        </p>
                        
                      </div>
                      {/if}
                      {/loop}

                    </div>
                    <!-- /.row -->
                    {else}
                    <p class="h6">
                      <b><i>Sem Dados</i></b>
                    </p>
                    {/if}

                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        
        