    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Loja {$id} - Frete</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/stores/">Lojas</a></li>
                <li class="breadcrumb-item active">Loja {$id}</li>
                <li class="breadcrumb-item active">Frete</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            
          <!-- /.row -->
          <div class="row">
            
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Frete &nbsp;</h3> 
                  <a id="btnAddFreight" class="text-success py-1 cursor-pointer" data-store="{$id}" data-modal-title="Adicionar Frete"> <i class="far fa-plus-square"></i> Adicionar</a>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                  
                  <div id="alertsFreight" class="alert alert-success alert-dismissible fade d-none text-left" role="alert">
                    <span class="msgAlert">Msg</span>
                  </div>
                  
                  <div id="dataFreight" class="row">

                    <!-- /.card-header -->
                    <div id="tableAdminFreight" class="card-body table-responsive p-0 col-sm-12">
                      
                      {if="isset($storeFreight) && $storeFreight != 0"}
                      <table class="table table-head-fixed table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Distância Máx.</th>
                            <th>Tipos</th>
                            <th>Opções</th>
                          </tr>
                        </thead>
                        <tbody>
                          {loop="$storeFreight"}
                          <tr id="trFreight{$value.idFreight}">
                            <td>{$key + 1}</td>
                            <td>{$value.distance}</td>
                            <td>
                              {if="is_array($value.details) && count($value.details) > 0"}
                              {loop="$value.details"}
                              {if="$key <= 2"}{if="$key == 0"}{$value.name}{else}, {$value.name}{/if}{/if}
                              {/loop}
                              {if="count($value.details) > 3"}...{/if}
                              {else}<a class="text-danger">Nenhum</a>
                              {/if}
                            </td>
                            <td>

                              <button type="button" class="btn btn-tool px-1 btnEditFreight" data-toggle="modal" data-target="#modalFreightNew" data-type="2" data-store="{$id}" data-id="{$value.idFreight}" data-modal-title="Alterar Frete" data-distance="{$value.distance}" data-name='{if="isset($value.details.0.name)"}{$value.details.0.name}{else}{/if}' data-value='{if="isset($value.details.0.name)"}{$value.details.0.value}{else}0{/if}' data-time='{if="isset($value.details.0.name)"}{$value.details.0.time}{else}0{/if}'> <i class="fas fa-pen"></i></button>
                            
                              <button type="button" class="btnDeleteFreight btn btn-tool px-1" data-type="3" data-id="{$value.idFreight}" data-store="{$id}"><i class="far fa-trash-alt"></i></button>

                            </td>
                          </tr>
                          {/loop}
                        </tbody>
                      </table>
                      {else}
                      <p class="h6">
                        <b><i>Sem Dados</i></b>
                      </p>
                      {/if}

                    </div>
                    <!-- /.card-body -->

                  </div>
                  <!-- /.row -->

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>

          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

        
        