    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Loja {$id} - Produtos</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item"><a href="/admin/stores/">Lojas</a></li>
                <li class="breadcrumb-item active">Loja {$id}</li>
                <li class="breadcrumb-item active">Cadastro</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          
          <div id="alertsRegister">
            
            
          
          </div>
          
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header row border-bottom-0 align-items-center">
                  
                  <div class="card-title col-md-6">
                    <h5>Produtos</h5> 
                  </div>
  
                  <div class="card-tools col-12 offset-md-2 col-md-4">

                    <form id="formSearchListProducts" class="formListProducts input-group input-group-sm" data-store="{$id}">

                      <select class="custom-select inputsListUser" name="selectStatusOrders" id="selectStatusOrders">
                        <option value="0">Por Código do Produto:</option>
                        <option value="1">Por Departamento:</option>
                        <option value="2">Por Descrição:</option>
                      </select>

                      <input type="search" name="table_search" class="form-control inputsListUser float-right" placeholder="Search" oninput="$('#formSearchListProducts').submit()">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>

                    </form>
                  </div>
                  
                </div>
                <!-- /.card-header -->
                <div id="tbListProductsConfig" class="card-body table-responsive p-0">
                  
                  {if="isset($products) && is_array($products) && count($products) > 0"}
                  <table class="table table-head-fixed text-nowrap">
                    
                    <tbody>
                      
                      {loop="$products"}
                      <tr>
                        <td>
                          
                          <div class="row">
                            
                            <div class="col-md-2 col-5 bar-display">
                              <img src='{$value.image}' class="img-fluid" width="150px" alt="Produto {$value.description}">
                            </div>

                            <div class="col-md-10 col-7 row align-items-center">
                              
                              <div class="col-md">
                                <b>Código: #{$value.codProduct}</b>
                              
                                <p class="text-wrap">
                                  {$value.description}
                                  <br> DEPARTAMENTO: {$value.departament}
                                  <br> <b>R${function="maskPrice($value.priceFinal)"} - <i>Quantidade Estoque: {$value.stock}</i></b>
                                </p>
                              </div>

                              <div class="col-md text-right">
                                <a href="#" class="h5" data-toggle="modal" data-target="#modalProductsConfig" data-id="{$value.codProduct}" data-type="1" data-store="{$id}" data-name="{$value.description}" data-src="{$value.image}" data-archive="{$value.image}" data-unit="{$value.unit}" data-qtd="{$value.unitsMeasures.0.valueStock}" data-price="{$value.priceFinal}" data-free="{$value.unitsMeasures.0.freeFill}"><i class="fas fa-pen"></i></a>
                              </div>

                            </div>

                          </div>

                        </td>
                      </tr>
                      {/loop}

                    </tbody>
                  
                  </table>

                  {else}
                  <p class="h6 text-center border-top py-3">
                    <b><i>NENHUM DADO ENCONTRADO</i></b>
                  </p>
                  {/if}
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
        
        