	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				   	<li class="breadcrumb-item"><a href="/loja-{$ID}/account/requests/" class="text-link-site-section">Conta</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Endereços</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-3 bar-display">
					
					{include="accountLinks"}

				</div>

				<div class="col-md">
					
					<p class="h4 text-uppercase font-weight-normal text-second-site-section">
						Endereços
					</p>
					<hr>

					<div id="alertUserAddress">
						
						{if="$errorRegister != ''"}
						<div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
							
							<span>{$errorRegister}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  		<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

						{if="$successMsg != ''"}	

						<div class="alert alert-success alert-dismissible fade show text-left" role="alert">
								
							<span>{$successMsg}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>

						{/if}

					</div>
					
					<div class="row">
							
						{if="$userAddress != false"}

						{loop="$userAddress"}
						<div class="col-sm-6 mt-3">
							<div class="card">
								<div class="card-body">
									
									<div class="row">
										
										<p class="h5 col-6 text-second-site-section">#{$key + 1}</p>
										<div class="h5 col-6 text-right">
											
											<a href="#" id="{$value.ID}" class="text-second-site-section btnEditAddress" data-toggle="modal" data-target="#ModalAddress" data-modal-title="Alterar Endereço de Entrega" data-type="2" data-code="{$value.idAddress}" data-city="{$value.codeCity}" data-cep='{function="maskCep($value.cep)"}' data-district="{$value.district}" data-street="{$value.street}" data-number="{$value.number}" data-complement="{$value.complement}" data-reference="{$value.reference}" data-main="{$value.mainAddress}"><i class="far fa-edit"></i></a>

											<a class="text-second-site-section btnDeleteUserAddress cursorPointer" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="<a class='h6 font-weight-normal text-center'>Deseja realmente remover?</a>" data-store="{$ID}" data-code="{$value.idAddress}">
												<i class="far fa-trash-alt"></i>
											</a>

										</div>

									</div>
									
										<p class="my-1 text-second-site-section">
											<span>{$value.street}</span> 
											<span> - {$value.number}</span> 
											<span>{if="$value.complement != ''"} - {$value.complement}{/if}</span>
										</p>
										<p class="my-1 text-second-site-section">
											<span>{if="$value.reference != ''"}{$value.reference} {else} Sem referência {/if}</span>
										</p>
										<p class="my-1 text-second-site-section">
											<span>{function="maskCep($value.cep)"}</span>
											<span> - {$value.district}</span>
										</p>
										<p class="my-1 text-second-site-section">
											<span>{$value.city}</span>
											<span> - {$value.uf}</span>
										</p>
								</div>
								<form id="formMain{$key}" class="card-footer bg-transparent text-center" action="/loja-{$ID}/account/address/update/" method="POST">

									<input id="ckAd{$key}" name="ckAd" type="checkbox" class="cursorPointer" {if="$value.mainAddress == 1"} checked {/if} onclick="formMain{$key}.submit()"> 
									<a class="h6 font-weight-normal text-second-site-section cursorPointer" onclick="ExecuteClick('ckAd{$key}')"> Selecionar como principal</a>
									
									<input type="hidden" name="adCode" value="{$value.idAddress}">

								</form>
							</div>
						</div>
						{/loop}

						
						{/if}
							  
							<!-- <div class="col-sm-6 mt-mobNavbar mt-3">
								<div class="card border-dashed">
									<div class="card-body">
										
										<p class="py-5 mt-1 text-center">
											<a class="h5 text-decoration-none text-primary cursorPointer" data-toggle="modal" data-target="#ModalAddress">
												<i class="h1 fas fa-plus"></i><br>
												Novo endereço
											</a>
										</p>
										
									</div>
								</div>
					  		</div> -->
					</div>

					<a href="#" class="my-2 btn btn-sm btn-outline-main-site-section" data-toggle="modal" data-target="#ModalAddress" data-modal-title="Cadastrar Endereço de Entrega" data-type="1" data-code="0" data-city="0" data-cep="" data-district="" data-street="" data-number="" data-complement="" data-reference="" data-main="0"><i class="fas fa-plus"></i> Adicionar endereço</a>

				</div>

			</div>
			
		</div>

	</section>

	{include="accountBar"}