	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb {$layout.bgLayout}">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/">Home</a></li>
				   	<li class="breadcrumb-item"><a href="/loja-{$ID}/account/requests/">Account</a></li>
				   	<li class="breadcrumb-item"><a href="/loja-{$ID}/account/address/">Address</a></li>
				  	<li class="breadcrumb-item active" aria-current="page">Edit</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-3 bar-display">
					
					{include="accountLinks"}

				</div>

				<div class="col-md">

					<p class="h3 font-weight-normal">
						Editar Endereço de Entrega
					</p>

					<div id="alertsAccountAddressEdit" class="my-0">

						{if="$errorRegister != ''"}
						<div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
							
							<span>{$errorRegister}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

						{if="$successMsg != ''"}	
						<div class="alert alert-success alert-dismissible fade show text-left" role="alert">
								
							<span>{$successMsg}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

					</div>


					<form id="formAccountAddressEdit" class="formAccountAddressEdit row my-0" method="POST" data-store="{$ID}" data-code="{$codeAddress}">
						
						<div class="col-md-4 my-2">
							<label for="cityAddress">Cidade:</label>
							<select name="cityAddress" id="cityAddress" class="custom-select select2bs4">
								{if="isset($cities) && $cities != 0"}
								<option value="0">Selecione uma Cidade</option>
								{loop="$cities"}
								<optgroup label="{$value.state}">
									{$kState = $key}
									{$kUf = $value.uf}
									{if="isset($value.city) && count($value.city) > 0"}
									{loop="$value.city"}
									<option value="{$kState}_{$key}">{$value} - {$kUf}</option>
									{/loop}
									{else}
									<option value="0">Sem Dados</option>
									{/if}
								</optgroup>
								{/loop}
								{else}
								<option value="0">Sem Dados</option>
								{/if}
							</select>
						</div>

						<div class="col-md-4 my-2">
							<label for="cepAddress">Cep:</label>
							<input type="text" class="form-control maskCep" id="cepAddress" name="cepAddress" placeholder="_ _ _ _ _ - _ _ _" value="{$userAddress.0.cep}" required>
						</div>
						
						<div class="col-md-4 my-2">
							<label for="districtAddress">Bairro:</label>
							<input type="text" class="form-control" id="districtAddress" name="districtAddress" placeholder="Insira o bairro" value="{$userAddress.0.district}" maxlength="150" required>
						</div>

						<div class="col-md-9 my-2">
							<label for="streetAddress">Rua:</label>
							<input type="text" class="form-control" id="streetAddress" name="streetAddress" placeholder="Insira a rua" value="{$userAddress.0.street}" maxlength="150" required>
						</div>

						<div class="col-md-3 my-2">
							<label for="numberAddress">Número:</label>
							<input type="text" class="form-control" id="numberAddress" name="numberAddress" placeholder="N°" value="{$userAddress.0.number}" maxlength="20" required>
						</div>

						<div class="col-md-6 my-2">
							<label for="complementAddress">Complemento:</label>
							<input type="text" class="form-control" id="complementAddress" name="complementAddress" placeholder="Complemento" value="{$userAddress.0.complement}" maxlength="100">	
						</div>

						<div class="col-md-6 my-2">
							<label for="referenceAddress">Ponto de Referência:</label>
							<input type="text" class="form-control" id="referenceAddress" name="referenceAddress" placeholder="Referência" value="{$userAddress.0.reference}" maxlength="100">	
						</div>

						<div class="col-md-6 my-2">
							<input class="cursorPointer" id="mainAddress" name="mainAddress" type="checkbox" {if="$userAddress.0.mainAddress > 0"}checked{/if}> <a class="cursorPointer" onclick="ExecuteClick('mainAddress')">É o endereço principal</a>
						</div>

						<div class="col-md-12 mt-2 text-right">
							<a href="/loja-{$ID}/account/address/" class="btn btn-light btn-sm border border-secondary">Voltar</a>
							<input type="submit" class="btn {$layout.btnLayout} btn-sm px-4" value="Salvar">
						</div>

					</form>


				</div>

			</div>
			
		</div>

	</section>

	<script> 
		var city = "{$userAddress.0.codeCity}";
		if(city != 0)document.getElementById('cityAddress').value = city;
	</script>

	<div id="myBarnav" class="shadow cart-BtnFloat">
				
		<nav id="menu-site">
			
			<div class="backdrop"></div>
			<div class="menu-info border px-2">
				
				<div class="text-right">
					<a class="close-menu text-dark h4 cursorPointer"><i class="fas fa-times"></i></a>
				</div>
				
				{include="accountLinks"}
			</div>

		</nav>

	</div>