	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  	<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				 	<li class="breadcrumb-item"><a href="/loja-{$ID}/account/requests/" class="text-link-site-section">Conta</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Pedidos</li>
				</ol>
			</nav>

			<nav class="d-md-none my-2">
				<a href="/loja-{$ID}/" class="btn btn-sm btn-main-site-section text-btn-site-section"><i class="fas fa-chevron-left"></i> <i>Voltar</i></a>
			</nav>

			<div class="row">

				<div class="col-md-3 bar-display">
					
					{include="accountLinks"}

				</div>

				<div class="col-lg-9">
					<p class="h4 font-weight-normal text-second-site-section">Pedidos</p>
					<hr>

					<div id="alertsAccountOrders" class='alert alert-success alert-dismissible fade d-none text-left {if="isset($alerts.status) && $alerts.status == 1"}msgAlertNow{/if}' data-msg="{$alerts.msg}" data-status="{$alerts.type}" data-time="{$alerts.time}" role="alert">
						<span class="msgAlert">Msg</span>
					</div>

					{if="$orders != 0"}
					<div class="my-2 table-responsive">
						
						<div class="table-ini">
							<table class="table table-hover font-weight-normal h6 text-truncate bg-white border">
								<thead>
								  <tr class="text-center">
									  <th class="border-right text-second-site-section">#</th>
									<th class="border-right text-second-site-section">Data</th>
									<th class="border-right text-second-site-section">Para</th>
									<th class="border-right text-second-site-section">Situação</th>
									<th class="border-right text-second-site-section">Agendamento</th>
									<th class="border-right text-second-site-section">Forma de Pagamento</th>
									<th class="border-right text-second-site-section">Total</th>
								  </tr>
								</thead>
								<tbody>
									{loop="$orders"}
									<tr class="cursorPointer text-center" onclick="window.location.assign('/loja-{$ID}/account/requests/{$value.idOrder}/')">
										<th scope="row" class="py-2">
											<a class="text-decoration-none text-second-site-section"><i>#{$value.idOrder}-{$key+1}</i></a>
										</th>
										<th scope="row" class="py-2">
											<a class="font-weight-normal text-second-site-section text-decoration-none">
												{function="date('d/m/Y', strtotime($value.dateInsert))"} <br>
												{function="date('H:i', strtotime($value.timeInsert))"}
											</a>
										</th>
										<td class="py-2">
											<a class="text-decoration-none text-second-site-section">{if="$value.typeModality == 2"}Entrega{else}Retirada{/if}</a>
										</td>
										<td class="py-2">
											<a class='text-decoration-none {if="$value.idOrderStatus < 6"}text-primary{/if} {if="$value.idOrderStatus == 9"}text-danger{/if} {if="$value.idOrderStatus >= 6 && $value.idOrderStatus <= 7"}text-success{/if}'><b>{$value.descStatus}</b></a>
										</td>
										<td class="py-2">
											<p class="text-decoration-none text-second-site-section">
												<span>
													{function="utf8_encode(ucwords(strftime('%d ', strtotime($value.dateHorary))))"} de 
													{function="utf8_encode(ucwords(strftime('%B', strtotime($value.dateHorary))))"} de 
													{function="utf8_encode(ucwords(strftime('%Y', strtotime($value.dateHorary))))"}
												</span>
												<span><br>{function="date('H:i', strtotime($value.timeInitial))"} às {function="date('H:i', strtotime($value.timeFinal))"}</span>
											</p>
										</td>
										<td class="py-2">	
											<a class="text-decoration-none text-second-site-section">
												<span>{$value.payment.pay}</span>
												<span><br>(<b>{if="$value.paid == 1"}Pago{else}Não Recebido{/if}</b>)</span>
											</a>
										</td>
										<td class="py-2">
											<span>R$ {function="maskPrice($value.total)"}</span>
										</td>
									</tr>
									{/loop}
								</tbody>
							</table>
						</div>

					</div>
					{else}
					<p class="h4 py-3 text-uppercase font-weight-normal text-second-site-section">Não existem pedidos na sua conta.</p>
					
					<a href="/loja-{$ID}/" class="btn btn-main-site-section text-btn-site-section btn-sm">Ir as compras</a>
					{/if}
					
				</div>

			</div>
			
		</div>

	</section>

	{include="accountBar"}