	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/account/requests/" class="text-link-site-section">Conta</a></li>
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/account/requests/" class="text-link-site-section">Pedidos</a></li>
				  <li class="breadcrumb-item text-link-site-section" aria-current="page">Pedido #{$orders.0.idOrder}</li>
				</ol>
			</nav>

			<nav class="d-md-none my-2">
				<a href="/loja-{$ID}/account/requests/" class="btn btn-sm btn-main-site-section text-btn-site-section"><i class="fas fa-chevron-left"></i> <i>Voltar</i></a>
			</nav>

			<div class="row">

				<div class="col-3 bar-display">
					
					{include="accountLinks"}

				</div>

				<div class="col col-lg-9">
					<p class="h4 font-weight-normal text-second-site-section">
						Pedido #{$orders.0.idOrder} - {function="date("H:i", strtotime($orders.0.timeInsert))"} {function="date("d/m/Y", strtotime($orders.0.dateInsert))"}
					</p>

					<div class="mt-3">
						<table class="table table-hover tx-IconCart mb-0 bg-white">
							<tbody>
								<tr>
									<td class="py-4 px-3 text-second-site-section">
										<p>
											<span>Loja:</span>
											<span><br>Loja {$orders.0.infoStore.store}</span>
										</p>
			
										<p>
											<span>Endereço:</span>
											<span><br>
												{$orders.0.address.0.street}, {$orders.0.address.0.number} - {$orders.0.address.0.district}, {$orders.0.address.0.city} - {$orders.0.address.0.uf}, {function="maskCep($orders.0.address.0.cep)"}
											</span>
										</p>
			
										<p>
											<span>Fone:</span>
											<span><br>
												{if="$orders.0.infoStore.telephoneStore != 0"} {function="maskTel($orders.0.infoStore.telephoneStore)"} {else} <b>Sem Telefone</b> {/if}
											</span>
										</p>
			
										<p>
											<span>Whatsapp:</span>
											<span><br>
												{if="$orders.0.infoStore.whatsappStore != 0"} {function="maskTel($orders.0.infoStore.whatsappStore)"} {else} <b>Sem Whatsapp</b> {/if}
											</span>
										</p>
			
										<p>
											<span>Email:</span>
											<span><br>
												{if="$orders.0.infoStore.emailStore != ''"} {$orders.0.infoStore.emailStore} {else} <b>Sem e-mail</b> {/if}
											</span>
										</p>
									</td>
									<td class="p-4 text-second-site-section">
										<p class="font-weight-bold">
											<span>Status do pedido:</span>
											<span class='{if="$orders.0.idOrderStatus < 6"}text-primary{/if} {if="$orders.0.idOrderStatus == 9"}text-danger{/if} {if="$orders.0.idOrderStatus >= 6 && $orders.0.idOrderStatus <= 7"}text-success{/if}'><br>
												{$orders.0.descStatus}
											</span>
										</p>
			
										<p>
											<span>Modalidade:</span>
											<span class="h6"><br>
												{if="$orders.0.typeModality == 1"}
												Retirada
												{else}
												Entrega - <i><u>{if="$orders.0.typeFreight == 0"}Normal{else}Express{/if}</u></i>
												{/if}
											</span>
										</p>
			
										<p>
											<span>Forma de pagamento:</span>
											<span><br>
												<b>{$orders.0.payment.pay} {if="$orders.0.payment.pay == 'Dinheiro'"}- Troco para R$ {function="maskPrice($orders.0.changePay)"}{/if}</b>
											</span>
										</p>
			
										<p>
											<span>Agendamento para:</span>
											<span><br>
												{function="ucwords(strftime('%d ', strtotime($orders.0.dateHorary)))"} de 
												{function="utf8_encode(ucwords(strftime('%B', strtotime($orders.0.dateHorary))))"} de 
												{function="ucwords(strftime('%Y', strtotime($orders.0.dateHorary)))"} 
												- {function="date('H:i', strtotime($orders.0.timeInitial))"} às {function="date('H:i', strtotime($orders.0.timeFinal))"}</span>
										</p>
			
										{if="$orders.0.typeModality == 2"}
										<p>
											<span>Endereço de entrega:</span>
											<span><br>
												{$orders.0.address.1.street}, {$orders.0.address.1.number} - {$orders.0.address.1.district}, {$orders.0.address.1.city} - {$orders.0.address.1.uf}, {function="maskCep($orders.0.address.1.cep)"}
											</span>
										</p>
										{/if}
			
										<p>
											<span>Nome de quem {if="$orders.0.typeModality == 2"}receberá{else}retirará{/if} as compras:</span>
											<span><br>{$orders.0.nameRes}</span>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					{if="isset($orders.0.status) && is_array($orders.0.status)"}
					<div class="table-responsive-lg my-0">

						<table class="table">
							<thead>
								<tr>
									<td class="d-flex justify-content-center text-center">
										
										{loop="$orders.0.status"}
										<div class="px-4">
											<p class="my-0 h1 text-success"><i class="far fa-check-circle"></i></p>
											<span class="text-second-site-section"><i>{$value.name}</i></span>
											<p class="my-0 text-second-site-section"><small>
												{function="date('d/m/Y', strtotime($value.date))"}
												{function="date('H:i', strtotime($value.time))"} 
											</small></p>
										</div>
										{/loop}

									</td>
								</tr>
							</thead>	
						</table>

					</div>
					{/if}

					<div class="table-responsive scroll-null table-ini-sm">
						<table class="table table-hover text-truncate bg-white border">
							<thead>
							  <tr class="text-center">
								<th class="font-weight-normal border-right text-second-site-section">Item</th>
								<th class="font-weight-normal border-right text-second-site-section">Similar</th>
								<th class="font-weight-normal border-right text-second-site-section">Preço unidade</th>
								<th class="font-weight-normal border-right text-second-site-section">Quantidade</th>
								<th class="font-weight-normal border-right text-second-site-section">Subtotal</th>
								<th class="font-weight-normal border-right text-second-site-section">Desconto</th>
								<th class="font-weight-normal border-right text-second-site-section">Total</th>
							  </tr>
							</thead>
							<tbody>
								{loop="$orders.0.cart.items"}
								<tr class="cursorPointer text-center" onclick="window.location.assign('/loja-{$ID}/product/{$value.descProduct}/')">
									<th scope="row" class="py-2">
										<a class="font-weight-normal text-second-site-section">
											{$value.descProduct}
										</a>
									</th>
									<td class="py-2">
										<a class="text-decoration-none text-second-site-section"> <i class='{if="$value.similar == 1"}fas fa-check{else}fas fa-times{/if}'></i> </a>
									</td>
									<td class="py-2">
										<a class="text-decoration-none text-second-site-section">
											R$ {function="maskPrice($value.priceItem)"}
										</a>
									</td>
									<td class="py-2">
										<a class="text-decoration-none text-second-site-section">{$value.quantity}</a>
									</td>
									<td class="py-2">	
										<a class="text-decoration-none text-second-site-section">
											R$ {function="maskPrice($value.priceItem * $value.quantity)"}
										</a>
									</td>
									<td class="py-2">	
										<a class="text-decoration-none text-second-site-section">
											R$ {function="maskPrice($value.discount)"}
										</a>
									</td>
									<td class="py-2">	
										<a class="text-decoration-none text-second-site-section">
											R$ {function="maskPrice($value.totalItem)"}
										</a>
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
					</div>

					<div class="row my-2">
						
						<div class="col-6">

							{if="$orders.0.idOrderStatus >= 2 && $orders.0.idOrderStatus < 5"}
							<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalOrderCancel" data-id="{$orders.0.idOrder}"><i class="fas fa-times"></i> Cancelar Pedido</button>
							{/if}

						</div>
						
						<div class="col-6 text-right">
							<p class="tx-IconCart text-second-site-section">
								<span>Valor dos itens: R$ {function="maskPrice($orders.0.cart.totalCart)"}</span>
								<span><br>Frete + agendamento: R$ {function="maskPrice($orders.0.priceFreight + $orders.0.priceHorary)"}</span>
								{if="($orders.0.discount - $orders.0.cart.discountCart) > 0"}
								<span><br>Desconto: R$ {function="maskPrice($orders.0.discount - $orders.0.cart.discountCart)"}</span>
								{/if}
								<span class="font-weight-bold"><br>TOTAL: R$ {function="maskPrice($orders.0.total)"}</span>
							</p>
						</div>	
					</div>

				</div>

			</div>
			
		</div>

	</section>
	
	{include="accountBar"}