	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section px-0">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Loja {$ID}</a></li>
				 	<li class="breadcrumb-item"><a href="/loja-{$ID}/checkout/cart/" class="text-link-site-section">Carrinho</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Resumo</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-9">

					{include="checkoutLinks"}

					<p class="tx-TitleMob font-weight-normal text-second-site-section">Resumo da Compra - Confira os dados e finalize a compra</p>

					<p class="mt-3 h6 font-weight-normal text-link-site-section">
						<i class="fas fa-store"></i> 
						Loja {$ID} 
						{if="isset($order) && isset($order.type) && $order.type == 2 && $order.nameFreight != ''"}
						- <i class="fas fa-truck"></i> Frete: 
						<b>
							<i>
								{$order.nameFreight}
							</i>
					 	</b> 
						{/if}
					</p>

					<hr>

					<div id="alertCheckoutResume">
						
						{if="$errorRegister != ''"}
						<div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
							
							<span>{$errorRegister}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

					</div>

					<div>

						<button type="button" class="btn btn-sm btn-outline-second-site-section" data-toggle="modal" data-target="#ModalCommentProduct">
							Adicionar Observação
						</button>

					</div>

					<form id="formCheckoutResume" class="formCheckoutResume" data-store="{$ID}">

						<div class="row">

							<div class="col-md-6">
	
								<div class="table-responsive mt-3 scroll-null">
									<div class="table-ini">
										<table class="table table-sm table-hover border bg-white">
											<thead>
											<tr class="tx-IconCart">
												<th class="font-weight-normal text-second-site-section border-right">Item</th>
												<th class="font-weight-normal text-second-site-section border-right text-center">Quantidade</th>
												<th class="font-weight-normal text-second-site-section border-right text-center">Subtotal</th>
											</tr>
											</thead>
											<tbody>
												{loop="$cart.items"}
												<tr class="tx-IconCart">
													<td class="py-2">
														<p class="text-decoration-none text-dark mb-0">
															{$value.descProduct}
														</p>
														<small> R$ {function="maskPrice($value.priceItem)"} </small>
													</td>
													<td class="text-center py-2"">
														<span>{$value.quantity}</span>
													</td>
													<td class="text-center py-2"">
														<span> R$ {function="maskPrice($value.totalItem)"} </span>
													</td>
												</tr>
												{/loop}		
											</tbody>
										</table>
									</div>
								
								</div>
	
							</div>
	
							<div class="col-md-6">
	
								<div class="table-responsive mt-3">
									<div class="table-ini">
										<table class="table table-sm table-striped border bg-white">
											<tbody>
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Agendamento de {if="$order.type == 1"}retirada{else}entrega{/if}</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="font-weight-bold text-second-site-section">
															{if="$order.horary.date == date('Y-m-d')"}Hoje{else}{function="utf8_encode(ucwords(strftime('%A', strtotime($order.horary.date))))"}{/if} - 
															{if="isset($order.horary)"}
															{function="date('H:i', strtotime($order.horary.init))"} até {function="date('H:i', strtotime($order.horary.final))"}
															{/if}
														</span>
													</td>
												</tr>
	
												{if="$orderAddress != 0"}
												<tr class="tx-IconCart">
													<td class="py-2" colspan="2">
														<span class="text-second-site-section"><b>
															<i>Endereço:</i>
															<br>{$orderAddress.0.street}, {$orderAddress.0.number} - {$orderAddress.0.district}, {$orderAddress.0.city} - {$orderAddress.0.uf}, {function="maskCep($orderAddress.0.cep)"}
														</b></span>
													</td>
												</tr>
												{/if}
	
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Nome de quem {if="$order.type == 1"}ira retirar{else}receberá{/if} as compras</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">{$order.resp}</span>
													</td>
												</tr>
	
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Pagamento na {if="$order.type == 1"}retirada{else}entrega{/if} com</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">
															{$order.payment.name} 
															{if="$order.payment.name == 'Dinheiro'"}
															- R$ {function="maskPrice($order.payment.changePay)"}
															{/if}
														</span>
													</td>
												</tr>
	
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Valor dos itens</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">R$ {function="maskPrice($cart.totalCart)"}</span>
													</td>
												</tr>
	
												{if="1 == 0"}
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Desconto no valor dos itens</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">{$cart.promoInfo.value}%</span>
													</td>
												</tr>
												{/if}
	
												{if="$order.horary.price > 0"}
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Agendamento</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">R$ {function="maskPrice($order.horary.price)"}</span>
													</td>
												</tr>
												{/if}
	
												{if="$order.type == 2 && $order.freight > 0"}
												<tr class="tx-IconCart">
													<td class="py-2">
														<span class="text-second-site-section"><b>Frete - {if="$order.typeFreight == 0"}Normal{else}Express{/if}</b></span>
													</td>
													<td class="py-2 text-right">
														<span class="text-second-site-section">R$ {function="maskPrice($order.freight)"}</span>
													</td>
												</tr>
												{/if}
	
												<tr class="tx-IconCart">
													<td class="pt-2">
														<span class="text-second-site-section"><b>TOTAL</b></span>
													</td>
													<td class="pt-2 pb-4 text-right">
														<span class="h5 text-second-site-section font-weight-normal">
															R$ {function="maskPrice(($cart.totalCart + $order.freight + $order.horary.price))"}
														</span>
													</td>
												</tr>
	
											</tbody>
										</table>
									</div>
								
								</div>
	
							</div>
	
						</div>
	
						<div class="row my-4">
							
							<div class="col-lg-6 col-3">
								<a href="/loja-{$ID}/checkout/payment/" class="btn btn-sm btn-light border border-DARK"><i class="fas fa-arrow-left"></i> <b class="d-mobile font-weight-normal">Voltar a Pagamento</b></a>
							</div>
	
							<div class="col-lg-6 col-9 text-right">
								
								<div id="overlayCheckoutResume" class="btn d-none">
									<div class="overlay d-flex justify-content-center align-items-center">
										<i class="fas fa-1x fa-sync fa-spin"></i>
									</div>
								</div>

								<button type="submit" class="btn btn-sm btn-main-site-section text-btn-site-section">Finalizar Compra <i class="fas fa-arrow-right"></i></button>
							</div>
	
						</div>

					</form>
					
				</div>
				
				<div class="col-md-3 mt-mobNavbar">

					<div id="PurchaseDetails">
						<p class="h6 font-weight-normal text-second-site-section">Detalhes da compra</p>
						<hr>

						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Subtotal Carrinho:</a>
							<a class="col-6 text-second-site-section text-right">R$ {function="maskPrice($cart.totalCart)"}</a>
						</div>

						{if="1 == 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Desconto no Subtotal:</a>
							<a class="col-6 text-second-site-section text-right">{$cart.promoInfo.value}%</a>
						</div>
						{/if}

						{if="$order.type == 2 && isset($order.freight) && $order.freight >= 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Frete:</a>
							<a class="col-6 text-second-site-section text-right">{if="$order.freight == 0"}<span class="text-success">Grátis</span>{else}R$ {function="maskPrice($order.freight)"}{/if}</a>
						</div>
						{/if}

						{if="isset($order.horary) && isset($order.horary.price) && $order.horary.price >= 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Agendamento ({if="$order.type == 1"}Retirada{else}Entrega{/if}):</a>
							<a class="col-6 text-second-site-section text-right">{if="$order.horary.price == 0"}<span class="text-success">Grátis</span>{else}R$ {function="maskPrice($order.horary.price)"}{/if}</a>
						</div>
						{/if}

						<hr>

						<div class="text-right">
							<p class="text-second-site-section">R$ {function="maskPrice(($cart.totalCart + $order.freight + $order.horary.price))"}</p>
						</div>

					</div>

				</div>
				
			</div>
		
		</div>

	</section>