	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section px-0">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Loja {$ID}</a></li>
				 	<li class="breadcrumb-item"><a href="/loja-{$ID}/checkout/cart/" class="text-link-site-section">Carrinho</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Agendar Horário</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-9">

					{include="checkoutLinks"}

					<p class="h4 font-weight-normal text-second-site-section">Horário de {if="$order.type == 0"}Retirada{else}Entrega{/if}</p>

					<p class="mt-3 h6 font-weight-normal text-link-site-section">
						<i class="fas fa-store"></i> 
						Loja {$ID} 
						{if="isset($order) && isset($order.type) && $order.type == 2"}
						- <i class="fas fa-truck"></i> Frete: <b>
							<i>
								{if="$order.typeFreight == 0"}Normal{else}Express{/if}
							</i>
					 	</b> 
						{/if}
					</p>

					<hr>

					<div id="alertCheckoutHorary">
						
						{if="$errorRegister != ''"}
						<div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
							
							<span>{$errorRegister}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

					</div>

					<p class="h5 my-4 font-weight-normal text-second-site-section">Agendo o Horário de {if="$order.type == 1"}Retirada{else}Entrega{/if}:</p>

					<form id="formCheckoutHorary" class="formCheckoutHorary" data-store="{$ID}">
						{if="isset($cartHorary) && $cartHorary != 0"}
						<div class="table-responsive mt-2 scroll-null">
							<div class="table-ini">
								<table class="table table-bordered table-sm">
									<thead>
										<tr class="tx-IconCart text-center text-truncate bg-white">
											{loop="$cartHorary.0.details"}
											<th class='font-weight-normal py-3 {if="$value.horary.0.status == 0 && $value.horary.1.status == 0"}text-muted{/if}'>{if="$key == 1"}Hoje{else}{function="utf8_encode(ucwords(strftime('%A', strtotime($value.date))))"}{/if}</th>
											{/loop}
										</tr>
									</thead>
									<tbody>
										<tr class="text-truncate bg-white">
											
											{loop="$cartHorary.0.details"}
											{if="$value.horary.0.status == 1 || $value.horary.1.status == 1"}
											<td class="text-center tx-IconCart py-2 align-middle">
												
												{$dateHorary = $value.date}
												{$idDay = $value.id}
												
												{loop="$value.horary"}
												
												{if="$value.status == 1"}
												<button type="button" id='divHorary{$idDay}-{$key}' class='selectHorary btn btn-light btn-sm border px-4 py-1 my-2 IptsTable tx-1em {if="isset($order) && $order != 0 && $order.horary.id == $idDay && $order.horary.type == $key"}clickMe{/if}'>
													
													<input name="inputCheckoutHorary" type="checkbox" class="inputCheckoutHorary inputType d-none" value="{$dateHorary}" data-init="{$value.init}" data-final="{$value.final}" data-price="{$value.value}" data-id="{$idDay}" data-type="{$key}">

													<a>{function="date('H:i', strtotime($value.init))"} até {function="date('H:i', strtotime($value.final))"}</a>
													<a><br>{if="$value.value > 0"}<i>R$ {function="maskPrice($value.value)"}</i>{else}<span class="text-success">Grátis</span>{/if}</a>
													
												</button><br>
												{/if}

												{/loop}

											</td>
											{else}
											<td class="text-center tx-IconCart bg-light py-3">
												
												<p class="px-5 h5 font-weight-normal text-secondary"> - </p>

											</td>
											{/if}
											{/loop}
											
										</tr>
										
									</tbody>
								</table>
							</div>
						
						</div>
						{else}
						<p class="h5 text-second-site-section">
							<b>
								Nenhum Horário cadastrado ! 
							</b>
						</p>
						{/if}

						<div class="row my-4">
							
							<div class="col-6">
								<a href='{if="$order.type == 1"}/loja-{$ID}/checkout/delivery-pickup/{else}/loja-{$ID}/checkout/address/{/if}' class="btn btn-sm btn-light border border-dark"><i class="fas fa-arrow-left"></i> <b class="d-mobile font-weight-normal">{if="$order.type == 1"}Voltar a Entregar ou Retirar{else}Voltar a Endereço de Entrega{/if}</b></a>
							</div>

							<div class="col-6 text-right">
								<button type="submit" class="btn btn-sm btn-main-site-section text-btn-site-section">Continuar <i class="fas fa-arrow-right"></i></a>
							</div>

						</div>

					</form>
				</div>
				
				<div class="col-md-3 mt-mobNavbar">
					
					<div id="PurchaseDetails">
						<p class="h6 font-weight-normal text-second-site-section">Detalhes da compra</p>
						<hr>

						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Subtotal Carrinho:</a>
							<a class="col-6 text-right text-second-site-section">R$ {function="maskPrice($cart.totalCart)"}</a>
						</div>

						{if="$order.type == 2 && isset($order.freight) && $order.freight >= 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Frete:</a>
							<a class="col-6 text-second-site-section text-right">{if="$order.freight == 0"}<span class="text-success">Grátis</span>{else}R$ {function="maskPrice($order.freight)"}{/if}</a>
						</div>
						{/if}

						<hr>

						<div class="text-second-site-section text-right">
							<p>R$ {function="maskPrice(($cart.totalCart + $order.freight))"}</p>
						</div>
					</div>

				</div>
				
			</div>
		
		</div>

	</section>