	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section px-0">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Loja {$ID}</a></li>
				 	<li class="breadcrumb-item"><a href="/loja-{$ID}/checkout/cart/" class="text-link-site-section">Carrinho</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Pagamento</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-9">

					{include="checkoutLinks"}

					<p class="h4 font-weight-normal text-second-site-section">Pagamento</p>

					<p class="mt-3 h6 font-weight-normal text-link-site-section">
						<i class="fas fa-store"></i> 
						Loja {$ID} 
						{if="isset($order) && isset($order.type) && $order.type == 2 && $order.nameFreight != ''"}
						- <i class="fas fa-truck"></i> Frete: 
						<b>
							<i>
								{$order.nameFreight}
							</i>
					 	</b> 
						{/if}
					</p>

					<hr>

					<p class="h4 my-4 font-weight-normal text-second-site-section">Escolha a forma de pagamento:</p>

					<form id="formCheckoutPayment" class="formCheckoutPayment" data-store="{$ID}">
						
						<div>
							<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
								<li class="nav-item" role="presentation"> 
								  <a class="nav-link text-second-site-section active" id="OptionFisic-tab" data-toggle="tab" href="#OptionFisic" role="tab" aria-controls="OptionFisic" aria-selected="true"><i class="fas fa-cart-arrow-down"></i> Na {if="$order.type == 1"}Retirada{else}Entrega{/if}</a>
								</li>
							</ul>
							
							<div class="tab-content border border-top-0 bg-white" id="myTabContent">
	
								<div class="tab-pane fade show active" id="OptionFisic" role="tabpanel" aria-labelledby="OptionFisic-tab">
									
									<div class="px-4 py-3">
										
										{loop="$cartPay"}
										{if="$key == $order.type"}
										
										{loop="$value.pays"}
										<button type="button" id="divPay{$value.idPayment}" class='selectPay btn btn-sm btn-light w-100 text-left border rounded p-2 my-2 {if="isset($order.payment.idPayment) && $order.payment.idPayment == $value.idPayment"}clickMe{/if}' data-div="{$value.name}">
	
											<span class="h6 font-weight-normal">
												<img src="/resources/imgs/cards-payment/{$value.src}" alt="{$value.name}">
												{$value.name}
											</span>
											<i id="iconCheck" class=""></i>
											<input type="checkbox" class="inputType d-none" name="inputType" value="{$value.idPayment}">
			
										</button>
										{/loop}

										{/if}

										{/loop}
	
										<div id="divDinheiro" class="divPay d-none">
	
											<label for="inputMoney" class="font-weight-bold text-second-site-section">Informe o valor abaixo para o troco:</label>
											
											<div class="input-group">
												
												<div class="input-group-prepend">
												  <span class="input-group-text text-second-site-section">R$</span>
												</div>
	
												<input id="inputMoney" name="inputMoney" type="text" value='{if="isset($order.payment.changePay) && $order.payment.changePay > 0"}{$order.payment.changePay}{/if}' class="maskMoney form-control" disabled>
												
											</div>
		
										</div>
	
									</div>
	
								</div>
	
								<div class="tab-pane fade" id="OptionOnline" role="OptionOnline" aria-labelledby="OptionOnline-tab"></div>
	
							</div>
							
							<div id="alertCheckoutPayment" class='alert alert-dismissible fade d-none text-left mt-2' role="alert">
								<span class="msgAlert">Msg</span>
							</div>

						</div>

						<div class="row my-4">
							
							<div class="col-lg-6 col-3">
								<a href="/loja-{$ID}/checkout/horary/" class="btn btn-sm btn-light border border-dark"><i class="fas fa-arrow-left"></i> <b class="d-mobile font-weight-normal">Voltar a Horário de {if="$order.type == 1"}Retirada{else}Entrega{/if}</b></a>
							</div>
	
							<div class="col-lg-6 col-9 text-right">
								
								<div id="overlayCheckoutPayment" class="btn d-none">
									<div class="overlay d-flex justify-content-center align-items-center">
										<i class="fas fa-1x fa-sync fa-spin"></i>
									</div>
								</div>

								<button type="submit" class="btn btn-sm btn-main-site-section text-btn-site-section">Continuar <i class="fas fa-arrow-right"></i></button>
							
							</div>
	
						</div>
						
					</form>
					
				</div>
				
				<div class="col-md-3 mt-mobNavbar">
					
					<div id="PurchaseDetails">
						<p class="h6 font-weight-normal text-second-site-section">Detalhes da compra</p>
						<hr>

						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Subtotal Carrinho:</a>
							<a class="col-6 text-second-site-section text-right">R$ {function="maskPrice($cart.totalCart)"}</a>
						</div>

						{if="$order.type == 2 && isset($order.freight) && $order.freight >= 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Frete:</a>
							<a class="col-6 text-second-site-section text-right">{if="$order.freight == 0"}<span class="text-success">Grátis</span>{else}R$ {function="maskPrice($order.freight)"}{/if}</a>
						</div>
						{/if}

						{if="isset($order.horary) && isset($order.horary.price) && $order.horary.price >= 0"}
						<div class="row my-2 tx-IconCart">
							<a class="col-6 text-second-site-section">Agendamento ({if="$order.type == 1"}Retirada{else}Entrega{/if}):</a>
							<a class="col-6 text-second-site-section text-right">{if="$order.horary.price == 0"}<span class="text-success">Grátis</span>{else}R$ {function="maskPrice($order.horary.price)"}{/if}</a>
						</div>
						{/if}

						<hr>

						<div class="text-second-site-section text-right">
							<p>R$ {function="maskPrice(($cart.totalCart + $order.freight + $order.horary.price))"}</p>
						</div>
					</div>

				</div>
				
			</div>
		
		</div>

	</section>