	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section px-0">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Loja {$ID}</a></li>
				 	<li class="breadcrumb-item"><a href="/loja-{$ID}/checkout/cart/" class="text-link-site-section">Carrinho</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Entregar ou Retirar</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-9">

					{include="checkoutLinks"}

					<p class="h4 font-weight-normal text-second-site-section">Escolha Entregar ou Retirar no estabelecimento</p>

					<p class="mt-4 h6 font-weight-normal text-link-site-section">
						<i class="fas fa-store"></i> 
						Loja {$ID} 
						{if="isset($order) && isset($order.type) && $order.type == 2"}
						- <i class="fas fa-truck"></i> Frete: 
						<b>
							<i>
								{if="$order.typeFreight == 0"}Normal{else}Express{/if}
							</i>
					 	</b> 
						{/if}
					</p>

					<hr>

					<div id="alertCheckoutPrime">
						
						{if="$errorRegister != ''"}
						<div class="alert alert-danger alert-dismissible fade show text-left" role="alert">
							
							<span>{$errorRegister}</span>
							
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						{/if}

					</div>

					<form id="formCheckoutPrime" class="formCheckoutPrime" data-store="{$ID}">
						
						<div>

							<button type="button" id="divStore" class='selectType cursorPointer border rounded btn w-100 text-left py-3 px-2 my-2 {if="isset($order) && $order != 0 && $order.type == 1 || isset($order) && $order == 0"}clickMe{/if} bg-white' data-text="irá retirar" data-div="">

								<span class="titleSelect h6 font-weight-normal text-second-site-section">Retirar no estabelecimento </span><i id="iconCheck" class=""></i>
								<input type="checkbox" class="inputType d-none" name="inputType" value="1">

							</button>

							<button type="button" id="divDelivery" class='selectType cursorPointer border rounded btn w-100 text-left py-3 px-2 my-2 {if="isset($order) && $order != 0 && $order.type == 2"}clickMe{/if} bg-white' data-text="receberá" data-div="PanelDelivery">

								<span class="titleSelect h6 font-weight-normal text-second-site-section">Entregar em algum endereço </span><i id="iconCheck" class=""></i>
								<input type="checkbox" class="inputType d-none" name="inputType" value="2">

							</button>

						</div>
	
						<div id="PanelDelivery" class="divSelect mt-3 d-none">
	
							<div class="offset-1">
	
								<p class="h4 font-weight-normal text-second-site-section">Escolha o tipo de frete <small class="h6 font-weight-light">*Valores podem mudar de acordo com o endereço de entrega*</small></p>
	
								<div>
	
									{if="$freight != 0"}
									{loop="$freight"}
									
									{if="$value != 0"}
									<button type="button" id="divFreigth{$key}" class='selectFreigth cursorPointer border rounded btn w-100 text-left py-3 px-2 my-2 {if="isset($order) && $order != 0 && $order.typeFreight == $key && $order.type == 2 || isset($order.type) && $order.type == 1 && $key == 0 || !isset($order.type) && $key == 0"}clickMe{/if} bg-white' data-text="retirará" data-div="">

										<span class="titleSelect h6 font-weight-normal text-second-site-section">
											<b>{$value.name}</b>
											<i><br>{if="$value.value == 0"}Frete Grátis{else}A partir de R$ {function="maskPrice($value.value)"}{/if}</i> 
										</span> 
										<i id="iconCheck" class=''></i>
										<input type="checkbox" class="inputFreigth d-none" name="inputFreight" value="{$key}">
		
									</button>
									{/if}

									{/loop}
									{else}
									<p class="text-second-site-section"><b>Sem dados</b></p>
									{/if}
	
								</div>
	
							</div>
	
						</div>

						<div class="mt-3">
							
							<label for="inputName" class="h6 text-second-site-section">Nome de quem <a id="textType">irá retirar</a> as compras:</label>
	
							<div class="input-group text-center px-0">
	
								<input type="text" id="inputName" name="inputName" class="form-control" placeholder="Nome Completo" required value='{if="$order != 0"}{$order.resp}{else}{$userValues.nameUser} {$userValues.surnameUser}{/if}'>
	
							</div>
	
						</div>
	
						<div class="row my-4">
							
							<div class="col-6">
								<a href="/loja-{$ID}/checkout/cart/" class="btn btn-sm btn-light border border-dark"><i class="fas fa-arrow-left"></i> <b class="d-mobile font-weight-normal">Voltar ao carrinho</b></a>
							</div>
	
							<div class="col-6 text-right">
								<button type="submit" class="btn btn-sm btn-main-site-section text-btn-site-section">Continuar <i class="fas fa-arrow-right"></i></button>
							</div>
	
						</div>
					</form>

				</div>
				
				<div class="col-md-3 mt-mobile">
					
					<div id="PurchaseDetails">
						<p class="h6 text-second-site-section">Detalhes da compra</p>
						
						<hr>

						<div class="row tx-IconCart py-1">
							<a class="col-6 text-second-site-section">Subtotal Carrinho:</a>
							<a class="col-6 text-right text-second-site-section">R$ {function="maskPrice($cart.totalCart)"}</a>
						</div>

						<div class="row tx-IconCart py-1">
							<a class="col-6 text-second-site-section">Frete:</a>
							<a class="col-6 text-right text-second-site-section">A Definir</a>
						</div>

						<hr>

						<div class="text-right">
							<p class="text-second-site-section">R$ {function="maskPrice($cart.totalCart)"}</p>
						</div>
					</div>
					
				</div>
				
			</div>
		
		</div>

	</section>
