	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section px-0">
					<li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  	<li class="breadcrumb-item text-link-site-section" aria-current="page">Departamentos</li>
				</ol>
			</nav>

			<div>

				<p class="h4 font-weight-normal text-second-site-section">Departamentos</p>

				<hr>

				<div class="row">

					{if="count($products) > 0"}
					{loop="$products"}
					<div class="col-md-4 my-2">

						<p class="h4 font-weight-normal text-second-site-section"><a href="/loja-{$ID}/departaments/{$value.name}-0/" class="text-decoration-none text-dark">{$value.name}</a></p>
						
						<p>	
							{if="count($value.category) > 0"}
							{$dept = $value.name}
							{loop="$value.category"}
							<li><a href="/loja-{$ID}/departaments/{$dept}-{$value.name}/" class="text-decoration-none text-second-site-section">{$value.name} ({function="count($value.products)"})</a></li>
							{/loop}
							{/if}
						</p>

					</div>
					{/loop}
					{/if}

				</div>

			</div>	
			
		</div>

	</section>