
	{if="isset($imgs) && $imgs != 0 && isset($products) && is_array($products) && count($products) > 0"}
	<div class="ct-null bg-white">	  
		
		<div class="owl-carousel owl-theme owl-loaded">
					
			<div class="CarouselImgs owl-stage-outer">
				  
				<div class="owl-stage">
					
					{loop="$imgs.promotions"}
					{if="file_exists($value.origin)"}
					<div class="owl-item text-center">
						<a href="/loja-{$ID}/promotions/"><img src="{$value.src}" class="w-100 img-CarouselPrime" alt="{$value.file}{$key}"></a>
					</div>
					{/if}
					{/loop}
					
				</div>
			</div>
		</div>
	</div>
	{/if}
	  
	{if="isset($products) && is_array($products) && count($products) > 0"}

	<section class="mt-5">
	  
		<p class="h4 text-uppercase font-weight-light text-center text-second-site-section">
		   Produtos que podem te interessar
	   </p>
	   
	   <div class="container mt-3">
		   
		   <div class="row cards-CartOne">
				 
			   <div class="owl-carousel owl-theme owl-loaded">
				   
				   <div class="CarouselOne owl-stage-outer">
						 
					   <div class="owl-stage">
						   
						   {loop="$products"}
						   
						   {if="$key < 7"}
						   
						   {if="$value.category.0.products.0.stock > 0"}
						   <div class="owl-item text-center">
							<img class="rounded mx-auto d-block rounded-circle bg-white border carousel-ImgCircle cursorPointer" src="{$value.category.0.products.0.image}" alt="Produtos" onclick="window.location.assign('/loja-{$ID}/departaments/{$value.name}-{$value.category.0.name}/')">
							<p class="text-center text-wrap text-second-site-section">
								{function="substr($value.name, 0, 25)"}
							</p>
							</div>
						   {/if}

						   {/if}

						   {/loop}
						   
						 </div>
				   
				   </div>
			   </div>
		   </div>
	   </div>
   </section>

	{/if}
	
	{if="isset($productsDep) && is_array($productsDep) && count($productsDep) > 0"}
	   
	{$ctProDep = 0}
	{loop="$productsDep"}
	{if="isset($value.status) && $value.status == 1"}{$ctProDep += 1}{/if}
	
	{if="$ctProDep < 15 && isset($value.status) && $value.status == 1"}
	<section class="ct-center mt-mobile" style="margin-bottom:80px">
			
		<div class="ct-ini">
			<p class="h4 font-weight-light text-second-site-section mb-4">
				<b>{$value.name}</b>
				<a href="/loja-{$ID}/departaments/{$value.name}-0/" class="btn btn-second-site-section text-btn-site-section btn-sm ml-2 rounded-pill">
					Ver mais <i class="fas fa-angle-double-right"></i> 
				</a>
			</p>
		</div>	
			
		<div class="ct-carousel">
			<div class="row cards-CartTwo">
      			<div class="owl-carousel owl-theme owl-loaded">
        			<div class="CarouselTwo owl-stage-outer">
          				
						<div class="owl-stage text-center">
							
							{loop="$value.products"}
							{if="$value.price > 0 && $key < 12 && $value.stock > 0"}
							<div class="owl-item text-center">
								
								<a class="text-decoration-none" href="/loja-{$ID}/product/{$value.description}/">
									
									<div id="card{$value.departament}{$key}" class="card card-Carousel border">
								  
										<img src="{$value.image}" class="img-fluid rounded mx-auto d-block card-ImgRes" alt="{$value.description}">

										{if="$value.pricePromo > 0"}
										<div class="card-img-overlay text-right">
											<label class="h6 btn-main-site-section text-btn-site-section">
												<b>&nbsp;{function="porcenDif($value.price, $value.pricePromo)"}%&nbsp;</b>
											</label>
										</div>
										{/if}

										<div id="subCard{$value.departament}{$key}" class="card-body cardSub-Carousel cardSubT1-Carousel card-img-overlay p-0">

											<div>
												<p class="card-title font-weight-light text-uppercase text-second-site-section card-text m-0">
													<b>{$value.description}</b>
												</p>

											<p class="btn-group btn-group-toggle m-0" data-toggle="buttons">

												<label class="btn btn-light border btn-sm py-0 mr-1 rounded-pill">
													<input id="btnCardPromoWeigth" type="radio"> {$value.unit}
												</label>
											</p>	

												<p>
													<a class="font-weight-bold">	
														{if="$value.pricePromo > 0 && $value.pricePromo != $value.price"}
														
														<a class="h6">
															<s class="card-ColorPromoPrice">R${function="number_format($value.price, 2, ',', '.')"}</s>
														</a>
														<span>R$</span><a class="h3">{function="strstr(number_format($value.pricePromo, 2, ',', '.'), ',', true)"}</a><a class="h6">{function="strstr(number_format($value.pricePromo, 2, ',', '.'), ',')"}</a>	
														
														{else}

														<span>R$</span><a class="h3">{function="strstr(number_format($value.price, 2, ',', '.'), ',', true)"}</a><a class="h6">{function="strstr(number_format($value.price, 2, ',', '.'), ',')"}</a>

														{/if}
													</a>
												</p>
											</div>
		
										</div>
										

										<form id="formCard{$value.departament}{$key}" class="formEnvia mt-auto" data-id="{$value.codProduct}" data-store="{$ID}">
						
											<div class="btn-group btn-group-justified w-100">
			
												<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section bd-RdLeft" onClick="removeItem('inputCard{$value.departament}{$key}')">-</button>
		
												<input id="inputCard{$value.departament}{$key}" name="inputCardDiversos" type="number" class="w-25 text-center" value="1" readonly="true" max="{$value.stock}">
		
												<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="addItem('inputCard{$value.departament}{$key}')">+</button>
												
												{if="isset($userValues.login) && $userValues.login == false"}
												<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section bd-RdRight" data-toggle="modal" data-target="#modalMsgAlert" data-text="Deseja finalizar o pedido?" data-link="/loja-{$ID}/checkout/cart/" data-btn-text="Finalizar" data-btn-text2="Continuar comprando">
													<i class="fas fa-shopping-cart"></i>
												</button>
												{else}
												<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section bd-RdRight">
													<i class="fas fa-shopping-cart"></i>
												</button>
												{/if}
		
											</div>
										
										</form>
										
									</div>
								</a>
								
							</div>
							{/if}
							{/loop}
							
          				</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{/if}
	{/loop}

	{else}
	<section class="ct-center mt-mobile my-5">
		<div class="ml-3">
				
			<p class="h4 font-weight-normal">
				<a class="d-inline-block">
					<i class="far fa-frown bar-display text-second-site-section" style="font-size: 5em;"></i>
				</a>
				<a class="ml-3 d-inline-block text-second-site-section">
					Ops!<br>
					Desculpe, não encontramos produtos no site.<br>
				</a>
			</p>
		
		</div>

		<div class="ml-3 mt-5">
			<p class="h5 font-weight-normal text-second-site-section">Algumas sugestões:</p>
			<hr>
			<p class="ml-3 mt-4">
				<i class="fas fa-arrow-right text-second-site-section"></i> Aguarde alguns minutos e depois recarregue a página <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Tente entrar em contato com o suporte <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Verifique se seu navegador não está bloqueando nada no site <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Verifique sua conexão com a internet <br>
			</p>
		</div>
	</section>	
	{/if}