	<section class="abs-center-x bcg-ini">
		<div id="img-logoInicial" class="img-fluid img-LogoIni">
			<div class="ct-carousel">
				
				<div class="py-5">
					
					<p class="h3 tx-2em">
						<span class="text-main-site-section">
							INFORME SUA <br>
							<label class="tx-2em">CIDADE <i class="fas fa-map-marker-alt"></i></label>
						</span>
					</p>
					
					<div class="mx-lg-0 mx-sm-auto mx-auto" style="max-width: 275px;">
						<select id="selectCityStores" class="custom-select custom-select-lg bg-light border">
							<option value="0">Todas Cidades</option>
							{if="isset($city) && $city != 0"}
							{loop="$city"}
								{if="$value.status == 1"} <option value="{$value.codeCity}">{$value.city} - {$value.uf}</option> {/if}
							{/loop}
							{/if}
							
						</select>
						<input type="button" id="btnCityStores" class="btn btn-main-site-section text-btn-site-section btn-lg w-100 my-3" value="Encontrar lojas">
					</div>
				
				</div>
			</div>
		</div>	
	</section>  
	  
	<section class="ct-center mt-5">
		
		<div class="ct-ini">
			<p id="Title-Pes-Lojas" class="h4 text-center font-weight-normal text-second-site-section">Explore as nossas lojas online</p>

			<div class="card-deck row">
				
				{if="isset($store) && $store != 0"}
				{loop="$store"}
				
				{if="$value.statusStore == 1"}
				<div class="col-md-4 addressStore{$value.codeCity} allStores card-deck">

					<div class="my-4 card">

						<div class="text-center px-2 py-3">
							<img class="card-img-top" src="{$value.src}imgs/logo.png" style="max-width: 300px" alt="Logo da loja {$value.store}">
						</div>

						<div class="card-body pt-0">
							
							<p class="card-title h4 font-weight-normal text-second-site-section">Loja {$value.store}</p>
							
							<p class="card-text text-link-site-section py-1">
								<a href="https://www.google.com/maps/place/{$value.streetStore}, {$value.numberStore} - {$value.districtStore}, {$value.city} - {$value.uf}, {$value.cepStore}/" class="text-link-site-section" target="_blank"><i class="fas fa-map-marker-alt"></i> 
								{$value.streetStore}, {$value.numberStore} - {$value.districtStore}, {$value.city} - {$value.uf}, {function="maskCep($value.cepStore)"}
								</a>
								<br>							
								<i class="fas fa-mobile-alt"></i> {if="$value.telephoneStore != 0"} {function="maskTel($value.telephoneStore)"} {else} <b>Sem Telefone</b> {/if} <br>
								<i class="far fa-envelope"></i> {if="$value.emailStore != ''"} {$value.emailStore} {else} <b>Sem e-mail</b> {/if} <br>
								<i class="fab fa-whatsapp"></i> {if="$value.whatsappStore != 0"} {function="maskTel($value.whatsappStore)"} {else} <b>Sem whatsapp</b> {/if}
							</p>

						</div>

						<div class="card-footer text-center">
							<a href="/loja-{$value.store}/" class="btn btn-main-site-section text-btn-site-section">Acessar loja</a>
						</div>
					</div>
				</div>
				{else}
				
				{if="$key == 0"}
				<div class="text-center w-100 py-5">
					<p class="h3 py-5">
						<i class="fas fa-exclamation-circle"></i> <i> Nenhuma Empresa Cadastrada!</i>
					</p>
				</div>	
				{/if}

				{/if}
				
				{/loop}
				{/if}

			</div>
		</div>	
	</section>
