	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  <li class="breadcrumb-item text-link-site-section" aria-current="page">Nossas Lojas</li>
				</ol>
			</nav>

			<div class="row">

				<div class="col-md-3 bar-display">
					
					{include="informationsLinks"}

				</div>

				<div class="col-md">

					<p class="h5 text-uppercase font-weight-normal text-second-site-section">Nossas Lojas</p>
					<hr>
					
					<div class="row">

						{if="isset($listAll) && $listAll != 0"}
						{loop="$listAll"}

							{if="$value.statusStore == 1"}
							<div class="col-sm-6 mb-4">
								<div class="card">

									<img src="/resources/clients/{$nameBase}/stores/loja-{$value.store}/imgs/loja{$value.store}.png" class="card-img-top max-height2" alt="Banner Loja{$value.store}">
									
									<div class="card-body">
										<p class="card-title h5 font-weight-normal">
											<a href="/loja-{$value.store}/" class="text-second-site-section">{$value.nameStore} - Loja {$value.store}</a>
										</p>
										
										<p class="card-text font-weight-normal">
											
											<a href="https://www.google.com/maps/place/{$value.streetStore}, {$value.numberStore} - {$value.districtStore}, {$value.city} - {$value.uf}, {$value.cepStore}/" class="text-decoration-none text-second-site-section" target="_blank"><i class="fas fa-map-marker-alt"></i>
											{$value.streetStore}, {$value.numberStore} - {$value.districtStore}, {$value.city} - {$value.uf}, {function="maskCep($value.cepStore)"}</a>
											<br>

											<i class="fas fa-phone-alt text-second-site-section"></i> <a>{function="maskTel($value.telephoneStore)"}</a>
											<br>

											<i class="fab fa-whatsapp text-second-site-section"></i> <a>{function="maskTel($value.whatsappStore)"}</a>
											<br>
											
											<i class="far fa-envelope text-second-site-section"></i> <a>{$value.emailStore}</a>

											{if="$value.horary != 0 && count($value.horary) > 0"}
												<p class="font-weight-bold my-0 text-second-site-section"><i class="far fa-clock"></i> Horário de Atendimento:</p>
													
												<ul class="txList-StyleNone">
                                
													{loop="$value.horary"}
													<li class="my-1 text-second-site-section">
														
														{$value.name}{if="$key == count($horary) - 1"} - {$value.dayNameFinal}{/if}:
				
														{function="date('H:i', strtotime($value.horary.0.init))"} às {function="date('H:i', strtotime($value.horary.0.final))"}
					
														{if="$value.horary.1.init > $value.horary.0.init"}
															- {function="date('H:i', strtotime($value.horary.1.init))"} às {function="date('H:i', strtotime($value.horary.1.final))"}
														{/if}
				
													</li>
													{/loop}
						
												</ul>

											{/if}
						
										</p>
									</div>
								</div>
							</div>
							{/if}

						{/loop}
						{/if}

					  </div>

				</div>

			</div>
			
		</div>

	</section>

	{include="informationsBar"}