	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  <li class="breadcrumb-item text-link-site-section" aria-current="page">Peguntas Frequentes</li>
				</ol>
			</nav>

			<nav class="d-md-none my-2">
				<a href="/loja-{$ID}/" class="btn btn-sm btn-main-site-section text-btn-site-section"><i class="fas fa-chevron-left"></i> <i>Voltar</i></a>
			</nav>

			<div class="row">

				<div class="col-md-3 bar-display">
					
					{include="informationsLinks"}

				</div>

				<div class="col-md">

					<p class="h5 text-uppercase font-weight-normal text-second-site-section">Perguntas Frequentes</p>
					<hr>
					
					<div class="accordion" id="AccordinOne">
						
						{loop="$storeHelp"}
						<div class="card btn btn-light border mt-2" data-toggle="collapse" data-target="#collapse{$value.idStoreHelp}" aria-expanded="true" aria-controls="collapse">
						
							<a class="py-2 h6 text-left text-second-site-section">{$value.titleHelpStore}</a>						  
						
						</div>
						<div id="collapse{$value.idStoreHelp}" class="collapse bg-white border" aria-labelledby="headingOne" data-parent="#AccordinOne">
						
							<div class="card-body">
								<p class="text-second-site-section">{$value.textHelpStore}</p>
							</div>
						
						</div>
						{/loop}
						
					</div>

				</div>

			</div>
			
		</div>

	</section>
	
	{include="informationsBar"}