	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/departaments/{$product.departament}-0/" class="text-link-site-section">{$product.departament}</a></li>
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/departaments/{$product.departament}-{$product.category}/" class="text-link-site-section">{$product.category}</a></li>
				  <li class="breadcrumb-item text-link-site-section " aria-current="page">{$product.description}</li>
				</ol>
			</nav>

			<div id="cardProductDetailsOne"  class="row">
				
				<div id="BarImgProduct" class="col-md-6">

					<p class="h5 font-weight-normal text-second-site-section text-uppercase navbar-display">{$product.description}</p>
					
					<div class="border rounded text-center shadow-sm bd-ImgProductDt bg-white">
						<img src="{$product.image}" class="img-fluid py-4 img-ProductDetails" alt="Product">
					</div>
					
				</div>

				<div id="BarProductDetails" class="col-md-6">

					<p class="h3 font-weight-normal text-uppercase bar-display text-second-site-section">{$product.description}</p>

					<p class="btn-group btn-group-toggle m-0" data-toggle="buttons">

						{if="isset($product.unitsMeasures) && is_array($product.unitsMeasures) && count($product.unitsMeasures) > 0"}
										
						{$codePro = $product.codProduct}
						{$stockPro = $product.stock}
						{$unitsMeasures = $product.unitsMeasures.0}
						
						{loop="$product.unitsMeasures"}

						{if="$value.valueStock <= $stockPro"}
						<label class='btn btn-light border btn-sm py-0 mr-1 rounded-pill altUnitMeasure' data-store="{$ID}" data-id="{$codePro}" data-cod="{$key}" data-dad="ProductDetailsOne" {if="$key > 0"}data-toggle="tooltip" data-placement="top" title="É igual a {$value.valueStock} {$unitsMeasures.name}" data-boundary="window"{/if}>
							<input type="radio" class='{if="$key == 0"}clickMe{/if}'> {$value.name}
						</label>
						{/if}
						
						{/loop}
						{/if}

					</p>	

					<p class="font-weigth-bold py-1">
								
						{if="$product.pricePromo > 0 && $product.pricePromo != $product.price"}
						
						<a class="h5 text-decoration-none>
							<s class="card-ColorPromoPrice">R${function="maskPrice($product.price)"}</s>
						</a>
						
						{/if}
						
						<a class="text-dark text-decoration-none">
							<b>R$</b>
							<span class="h1 priceItemProduct">{function="maskPrice($product.priceFinal)"}</span>
						</a>	
							
					</p>

					<form id="formCardProductDetailsOne" class="formEnvia mt-auto" data-id="{$product.codProduct}" data-store="{$ID}" data-type="0">
						
						<div class="btn-group btn-group-justified">

							<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="removeItem('inputCardDiversosProductDetailsOne')"><i class="fas fa-minus"></i></button>

							<input id="inputCardDiversosProductDetailsOne" name="inputCardDiversos" type='{if="isset($product.unitsMeasures.0.freeFill) && $product.unitsMeasures.0.freeFill == 1"}text{else}number{/if}' class="inputQtdCart text-center maskMoney2" value="1" max="{$product.stock}" style="font-size: 11px;font-weight: bold;width: 35%;" {if="isset($product.unitsMeasures.0.freeFill) && $product.unitsMeasures.0.freeFill == 0"}readonly="true"{/if}>

							<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="addItem('inputCardDiversosProductDetailsOne')"><i class="fas fa-plus"></i></button>

							{if="isset($userValues.login) && $userValues.login == false"}
							<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section" data-toggle="modal" data-target="#modalMsgAlert" data-text="Deseja finalizar o pedido?" data-link="/loja-{$ID}/checkout/cart/" data-btn-text="Finalizar" data-btn-text2="Continuar comprando">
								<i class="fas fa-shopping-cart"></i>
							</button>
							{else}
							<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section">
								<i class="fas fa-shopping-cart"></i>
							</button>
							{/if}

						</div>
					
					</form>

					<p class="h6 font-weight-normal mt-4 text-left text-second-site-section">
						<a>Código: #{$product.barCode}</a> 
						{if="!empty($product.mark)"}<a> | Marca: {$product.mark}</a> {/if}
					</p>

					<hr class="mt-4">

					<p class="tx-IconCart font-weight-normal text-left text-second-site-section">
						* Preços de produtos pesáveis podem sofrer variação de acordo com o peso.<br>
						* Imagem meramente ilustrativa.<br>
						* Sujeito à disponibilidade de estoque.
					</p>

					{if="0==1"}
					<p class="h5 font-weight-normal text-left">Compartilhar</p>

					<p class="mt-3 text-left">
						<a href='mailto:?subject={$product.description}&body=Acesse esse link https://{$HTTP}/loja-{$ID}/product/{$product.description}' class="text-dark text-decoration-none h4 mr-3"><i class="far fa-envelope"></i></a>
						<a href="javascript: window.open('https://www.facebook.com/sharer/sharer.php?u=https://www.eduardosluz.com.br/product-details.html&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=113869198637480', '', 'width=600,height=500')" class="text-dark text-decoration-none h4 mr-3"><i class="fa fa-facebook-f"></i></a>
						<a href="javascript: window.open('https://twitter.com/intent/tweet?text=ALHO 20KG&url=https://www.eduardosluz.com.br/product-details.html', '', 'width=600,height=500')" class="text-dark text-decoration-none h4 mr-3"><i class="fab fa-twitter"></i></a>
						<a href="javascript: window.open('https://api.whatsapp.com/send?text=ALHO 20KG - https://www.eduardosluz.com.br/product-details.html', '', 'width=600,height=500')" class="text-dark text-decoration-none h4 mr-3"><i class="fab fa-whatsapp"></i></a>
					</p>
					{/if}

				</div>

			</div>
			
			<div id="Carousel-MoreItems" class="mt-4">
				
				<p class="h4 font-weight-normal text-second-site-section"> PRODUTOS VISITADOS POR QUEM PROCURA ESTE ITEM </p>

				<div class="ct-carousel mt-3">
					<div class="row cards-CartTwo">
						<div class="owl-carousel owl-theme owl-loaded">
						<div class="CarouselTwo owl-stage-outer">
								
							<div class="owl-stage text-center card-group">
							
								{loop="$departament"}
								{if="$value.price > 0 && $key < 12 && $value.stock > 0"}
	
								<div id="card{$value.codProduct}{$key}"  class="owl-item text-center card rounded">
								{$nameCard = $value.codProduct."$key"}
	
									<div class="d-flex flex-row-reverse p-2">
										
										{if="$value.pricePromo > 0"}
										<div class="position-absolute p-3">
											<label class="h6 m-0 btn-main-site-section text-btn-site-section">
											<b>&nbsp;{function="porcenDif($value.price, $value.pricePromo)"}%&nbsp;</b>
											</label>
										</div>
										{/if}
											
										<img src="{$value.image}" class="img-top rounded mx-auto d-block cursorPointer" style="height:150px;max-width: 135px;" alt="{$value.description}" onclick="window.location.assign('/loja-{$ID}/product/{$value.description}/')">
										
									</div>
	
									<div class="card-body text-center px-0">
										
										<p class="card-text font-weight-normal text-uppercase text-second-site-section m-0 cursorPointer tx-Mobile" onclick="window.location.assign('/loja-{$ID}/product/{$value.description}/')">
											{$value.description}
										</p>
	
										<p class="btn-group btn-group-toggle m-0" data-toggle="buttons">
	
											{if="isset($value.unitsMeasures) && is_array($value.unitsMeasures) && count($value.unitsMeasures) > 0"}
											
											{$codePro = $value.codProduct}
											{$stockPro = $value.stock}
											{$unitsMeasures = $value.unitsMeasures.0}
											
											{loop="$value.unitsMeasures"}
	
											{if="$value.valueStock <= $stockPro"}
											<label class='btn btn-light border btn-sm py-0 mr-1 rounded-pill altUnitMeasure' data-store="{$ID}" data-id="{$codePro}" data-cod="{$key}" data-dad="{$nameCard}" {if="$key > 0"}data-toggle="tooltip" data-placement="top" title="É igual a {$value.valueStock} {$unitsMeasures.name}" data-boundary="window"{/if}>
												<input type="radio" {if="$key == 0"}checked{/if}> {$value.name}
											</label>
											{/if}
											
											{/loop}
											{/if}	
	
										</p>	
	
										<p class="font-weigth-bold py-1">
													
											{if="$value.pricePromo > 0 && $value.pricePromo != $value.price"}
											
											<a class="h6 text-decoration-none">
												<s class="card-ColorPromoPrice">R${function="maskPrice($value.price)"}</s>
											</a>
											
											{/if}
											
											<a class="text-dark text-decoration-none">
												<b>R$</b>
												<span class="h3 priceItemProduct">{function="maskPrice($value.priceFinal)"}</span>
											</a>	
												
										</p>
									
									</div>
	
									<form id="formCard{$value.codProduct}{$key}" class="formEnvia" data-id="{$value.codProduct}" data-store="{$ID}" data-type="0">
										
										<div class="btn-group btn-group-justified w-100">
		
											<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="removeItem('inputCardDiversos{$value.codProduct}{$key}')"><i class="fas fa-minus tx-IconCart"></i></button>
	
											<input id="inputCardDiversos{$value.codProduct}{$key}" name="inputCardDiversos" type='{if="isset($value.unitsMeasures.0.freeFill) && $value.unitsMeasures.0.freeFill == 1"}text{else}number{/if}' class="inputQtdCart text-center maskMoney2" value="1" max="{$value.stock}" style="font-size: 11px;font-weight: bold;width: 35%;" {if="isset($value.unitsMeasures.0.freeFill) && $value.unitsMeasures.0.freeFill == 0"}readonly="true"{/if}>
	
											<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="addItem('inputCardDiversos{$value.codProduct}{$key}')"><i class="fas fa-plus tx-IconCart"></i></button>
											
											{if="isset($userValues.login) && $userValues.login == false"}
											<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section" data-toggle="modal" data-target="#modalMsgAlert" data-text="Deseja finalizar o pedido?" data-link="/loja-{$ID}/checkout/cart/" data-btn-text="Finalizar" data-btn-text2="Continuar comprando">
												<i class="fas fa-shopping-cart"></i>
											</button>
											{else}
											<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section">
												<i class="fas fa-shopping-cart tx-IconCart"></i>
											</button>
											{/if}
		
										</div>
									
									</form>
	
								</div>
	
								{/if}
								{/loop}
	
							</div>
						</div>
					</div>
				</div>

			  </div>

			</div>

			<div id="Carousel-IntItems" class="mt-5">

				<p class="h5 text-uppercase font-weight-normal text-center text-second-site-section">Coisas que podem te interessar</p>
		
				<div class="container mt-3">
					
					<div class="row cards-CartOne">
						
						<div class="owl-carousel owl-theme owl-loaded">
							
							<div class="CarouselOne owl-stage-outer">
								
								<div class="owl-stage">
									
									{loop="$views"}
							
									{if="$key <= 8"}
									
									{if="$value.category.0.products.0.stock > 0"}
									<div class="owl-item text-center">
										<img class="rounded mx-auto d-block rounded-circle bg-white border carousel-ImgCircle cursorPointer" src="{$value.category.0.products.0.image}" alt="Produtos" onclick="window.location.assign('/loja-{$ID}/departaments/{$value.name}-{$value.category.0.name}/')">
										<p class="text-center text-wrap text-second-site-section">
											{function="substr($value.name, 0, 25)"}
										</p>
									</div>
									{/if}

									{/if}

									{/loop}
									
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	</section>