	<section class="ct-center">

		<div class="ct-ini mt-mobNavbar">
			<nav aria-label="breadcrumb" class="bar-display">
				<ol class="breadcrumb bg-site-section">
				  <li class="breadcrumb-item"><a href="/loja-{$ID}/" class="text-link-site-section">Home</a></li>
				  <li class="breadcrumb-item text-link-site-section" aria-current="page">Pesquisa</li>
				  <li class="breadcrumb-item text-link-site-section" aria-current="page">{$search.s}</li>
				</ol>
			  </nav>
		</div>

		{if="$search.res != 0"}
		<div class="row ct-ini">

			<div class="col-md-2 bar-display">
				
				{include="searchLinks"}
				
			</div>

			<div id="ColSearchMaster" class="col-lg-10 col-md-12 ct-Search">
				
				<div class="row">
					<div class="col-md-8">
						<p class="font-weight-normal h4 text-second-site-section">{function="count($search.res)"} Resultados encontrados para {$search.s}...</p>
					</div>

					<div class="col-md-4 text-right">
						<select id="filterProduct" class="btn btn-light border border-dark">
							<option value="0">Ordenar por:</option>
							<option value="2">Mais baratos</option>
							<option value="3">Mais caros</option>
							<option value="4">A-Z</option>
							<option value="5">Z-A</option>
						</select>

					</div>
				</div>
				
				<div class="col-md-12 px-0 my-3" >

					<div class="row">

						{loop="$search.res"}
						{if="$value.page == $search.page && $value.stock > 0"}
							
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">

							<div id="card{$value.codProduct}{$key}"  class="card h-100">
							{$nameCard = $value.codProduct."$key"}

								<div class="d-flex flex-row-reverse">
									
									{if="$value.pricePromo > 0"}
									<div class="position-absolute p-3">
								  	<label class="h6 m-0 btn-main-site-section text-btn-site-section">
									  <b>&nbsp;{function="porcenDif($value.price, $value.pricePromo)"}%&nbsp;</b>
								  	</label>
									</div>
									{/if}
									  
									<img src="{$value.image}" class="img-fluid rounded mx-auto d-block cursorPointer" style="height:175px" alt="{$value.description}" onclick="window.location.assign('/loja-{$ID}/product/{$value.description}/')">
								  
								</div>

								<div class="card-body text-center">
									
									<p class="card-title font-weight-light text-uppercase text-second-site-section card-text m-0 cursorPointer" onclick="window.location.assign('/loja-{$ID}/product/{$value.description}/')">
										<b>{$value.description}</b>
									</p>

									<p class="btn-group btn-group-toggle m-0" data-toggle="buttons">

										{if="isset($value.unitsMeasures) && is_array($value.unitsMeasures) && count($value.unitsMeasures) > 0"}
										
										{$codePro = $value.codProduct}
										{$stockPro = $value.stock}
										{$unitsMeasures = $value.unitsMeasures.0}

										{loop="$value.unitsMeasures"}
										
										{if="$value.valueStock <= $stockPro"}
										<label class='btn btn-light border btn-sm py-0 mr-1 rounded-pill altUnitMeasure' data-store="{$ID}" data-id="{$codePro}" data-cod="{$key}" data-dad="{$nameCard}" {if="$key > 0"}data-toggle="tooltip" data-placement="top" title="É igual a {$value.valueStock} {$unitsMeasures.name}" data-boundary="window"{/if}>
											<input type="radio" {if="$key == 0"}checked{/if}> {$value.name}
										</label>
										{/if}
										
										{/loop}
										{/if}	

									</p>	

									<p class="font-weigth-bold py-1">
												
										{if="$value.pricePromo > 0 && $value.pricePromo != $value.price"}
										
										<a class="h6 text-decoration-none">
											<s class="card-ColorPromoPrice">R${function="maskPrice($value.price)"}</s>
										</a>
										
										{/if}
										
										<a class="text-dark text-decoration-none">
											<b>R$</b>
											<span class="h3 priceItemProduct">{function="maskPrice($value.priceFinal)"}</span>
										</a>	
											
									</p>
								
								</div>

								<form id="formCard{$value.codProduct}{$key}" class="formEnvia" data-id="{$value.codProduct}" data-store="{$ID}" data-type="0">
							
									<div class="btn-group btn-group-justified w-100">
	
										<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="removeItem('inputCardDiversos{$value.codProduct}{$key}')"><i class="fas fa-minus"></i></button>

										<input id="inputCardDiversos{$value.codProduct}{$key}" name="inputCardDiversos" type='{if="isset($value.unitsMeasures.0.freeFill) && $value.unitsMeasures.0.freeFill == 1"}text{else}number{/if}' class="inputQtdCart text-center maskMoney2" value="1" max="{$value.stock}" style="font-size: 11px;font-weight: bold;width: 35%;" {if="isset($value.unitsMeasures.0.freeFill) && $value.unitsMeasures.0.freeFill == 0"}readonly="true"{/if}>

										<button type="button" class="btn btn-sm btn-main-site-section text-btn-site-section" onClick="addItem('inputCardDiversos{$value.codProduct}{$key}')"><i class="fas fa-plus"></i></button>
										
										{if="isset($userValues.login) && $userValues.login == false"}
										<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section" data-toggle="modal" data-target="#modalMsgAlert" data-text="Deseja finalizar o pedido?" data-link="/loja-{$ID}/checkout/cart/" data-btn-text="Finalizar" data-btn-text2="Continuar comprando">
											<i class="fas fa-shopping-cart"></i>
										</button>
										{else}
										<button type="submit" class="btn btn-sm btn-cart-site-section text-btn-site-section">
											<i class="fas fa-shopping-cart"></i>
										</button>
										{/if}
	
									</div>
								
								</form>

							  </div>

							</div>

						{/if}
						{/loop}

					</div>

					<hr>

					<div class="row">
						

						<div class="btn-group-toggle col-md">

							{loop="$search.pages"}
							<a class='btn btn-light btn-sm border {if="$search.page == $value.page"}active border-dark{/if}' href='/loja-{$ID}/search/?s={$search.s}{if="$search.or != 0"}&order={$search.or}{/if}{if="!empty($search.subs)"}&subs={$search.subs}{/if}{if="!empty($search.mark)"}&mark={$search.mark}{/if}{if="$search.filter != 0"}&min={$search.filter.min}&max={$search.filter.max}{/if}&page={$value.page}'>{$value.number}</a>
							{/loop}
							
						</div>
					
					</div>

				</div>
			</div>
		</div>
		{else}
		<div class="ml-3">
				
			<p class="h4 font-weight-normal">
				<a class="d-inline-block">
					<i class="far fa-frown bar-display text-second-site-section" style="font-size: 5em;"></i>
				</a>
				<a class="ml-3 d-inline-block text-second-site-section">
					Ops!<br>
					Desculpe, não encontramos resultados para:<br>
					"{$search.s}"
					{if="!empty($search.subs)"}<br><small>Sub pesquisa: <b>{$search.subs}</b></small>{/if}
				</a>
			</p>
		
		</div>

		<div class="ml-3 mt-5">
			<p class="h5 font-weight-normal text-second-site-section">Algumas sugestões:</p>
			<hr>
			<p class="ml-3 mt-4">
				<i class="fas fa-arrow-right text-second-site-section"></i> Confira a escrita das palavras <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Tente usar menos palavras <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Tente palavras diferentes com mesmo significado <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> Use palavras mais genéricas <br>
				<i class="fas fa-arrow-right text-second-site-section"></i> <a href="/loja-{ID}/departaments/" class="text-second-site-section">Todos os Departamentos</a>
			</p>
		</div>
		{/if}
			
	</section>
	
	{if="$search.res != 0"}
	{include="searchBar"}
	{/if}